force-app/main/default/flows/AC_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Future_Start_Date</name>
        <label>Future Start Date</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Proceed_or_Not_Accreditation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Date_Past</name>
        <label>Start Date Past</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Proceed_or_Not_Accreditation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Date_Today</name>
        <label>Start Date Today</label>
        <locationX>446</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Proceed_or_Not_Accreditation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Proceed_or_Not_Accreditation</name>
        <label>Check Proceed or Not Accreditation</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Too_Early</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Later_Accreditation_Record.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proceed</targetReference>
            </connector>
            <label>Start Date Too Early</label>
        </rules>
        <rules>
            <name>Preceed_with_Decision_not_to_Accredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Accreditation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Later_Accreditation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Decision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Record a Decision not to Accredit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Date</targetReference>
            </connector>
            <label>Preceed with Decision not to Accredit</label>
        </rules>
        <rules>
            <name>Create_New_Accreditation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Accreditation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Later_Accreditation_Record.Accreditation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Accredited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Extend_Accreditation</targetReference>
            </connector>
            <label>Create New Accreditation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecodType</name>
        <label>CheckRecodType</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accreditation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accreditation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Variation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Accreditation_Record</targetReference>
            </connector>
            <label>Accreditation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Check</name>
        <label>Start Date Check</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Start_Date_Past</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Not_Null_and_In_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_Start_Date</targetReference>
            </connector>
            <label>Start Date Not Null and In Future</label>
        </rules>
        <rules>
            <name>Start_Date_is_Today</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Date_Today</targetReference>
            </connector>
            <label>Start Date is Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AC: Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AC: Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Accreditation_Record</name>
        <label>Get Existing Accreditation Record</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Later_Accreditation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Accreditation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accredited</stringValue>
            </value>
        </filters>
        <filters>
            <field>Decision_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extend Accreditation Period</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Accreditation_Certification__c</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Later_Accreditation_Record</name>
        <label>Get Later Accreditation Record</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Date_Check</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 5 ) AND 4 AND 6</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Decision_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extend Accreditation Period</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Accreditation_Certification__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Extend_Accreditation</name>
        <label>Update Extend Accreditation</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>GPMS_Accreditation_Check__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proceed</name>
        <label>Update Proceed</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>Proceed_of_latest_Accreditation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Start_Date</name>
        <label>Update Start Date</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>Active_Status_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Existing_Accreditation_Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckRecodType</targetReference>
        </connector>
        <object>Accreditation_Certification__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accreditationServiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accreditedStatusList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>latestAccreditationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
</Flow>
