force-app/main/default/flows/Account_ACO_ABN_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_ACOId</name>
        <label>Add ACOId</label>
        <locationX>270</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>AcoIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AP_ACO_Role.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AP_ACO_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ACOId_NATSIFAC</name>
        <label>Add ACOId_NATSIFAC</label>
        <locationX>1412</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>AcoIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NATSIFAC_ACO_Role.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATSIFAC_ACO_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TPO_for_update</name>
        <label>Add TPO for update</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>TPOsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_ABN_on_Child_TPOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ABN_on_Child_TPOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ABN_Details</name>
        <label>Update ABN Details</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Update_ABN_on_Child_TPOs.ABN_Entity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ABN_Entity_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_ABN_on_Child_TPOs.ABN_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ABN_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_ABN_on_Child_TPOs.ABN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ABN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_ABN_on_Child_TPOs.ABN_Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ABN_Entity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TPO_for_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Care_Type_is_Active_AP</name>
        <label>Care Type is Active_AP</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACtive_AP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_Type_AP.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Care_Type_AP.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taken to be approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Care_Type_AP.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve (with dependencies)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Care_Type_AP.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intention to Revoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACO_RecordType</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Care_Type_is_Active_CHSP</name>
        <label>Care Type is Active_CHSP</label>
        <locationX>1678</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>CHSP_ACO_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_CHSP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_Type_CHSP.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACO_RecordType_CHSP</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Care_Type_is_Active_NATSIFAC</name>
        <label>Care Type is Active_NATSIFAC</label>
        <locationX>1324</locationX>
        <locationY>2387</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_NATSIFAC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_Type_NATSIFAC.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACO_NATSIFAC</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Is_NATSIFAC</name>
        <label>Check Account Is NATSIFAC</label>
        <locationX>1522</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NATSIFAC_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Aboriginal_and_Torres_Strait_Islander_Flexible_Aged_Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NATSIFAC_ACO_Role</targetReference>
            </connector>
            <label>NATSIFAC Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AP_Account</name>
        <label>Check AP Account</label>
        <locationX>852</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_CHSP_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AP_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved_Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ABN__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Changed</targetReference>
            </connector>
            <label>AP Account</label>
        </rules>
        <rules>
            <name>ACO_Role_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved_Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Incorporation_ID_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Incorporated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Incorporation_Details</targetReference>
            </connector>
            <label>ACO Role Changed</label>
        </rules>
        <rules>
            <name>ACO_Role_Changed_Other_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Record_Type.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved_Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Incorporation_Details_Other_Accounts</targetReference>
            </connector>
            <label>ACO Role Changed Other Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CHSP_Account</name>
        <label>Check CHSP Account</label>
        <locationX>1522</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Is_NATSIFAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHSP_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commonwealth_Home_Support_Programme</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ABN__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHSP_ACO_Role</targetReference>
            </connector>
            <label>CHSP Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Changed</name>
        <label>Is Changed?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>AP_ACO_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_ABN_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ABN__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_child_TPOs</targetReference>
            </connector>
            <label>Account ABN is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateIsNull</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DateIsToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Account: ACO ABN Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: ACO ABN Update</label>
    <loops>
        <name>AP_ACO_Role</name>
        <label>AP ACO Role</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_Associated_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ACOId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Single_Associated_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CHSP_ACO_Role</name>
        <label>CHSP ACO Role</label>
        <locationX>1458</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Associated_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Single_Associated_Account_CHSP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Account_Is_NATSIFAC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NATSIFAC_ACO_Role</name>
        <label>NATSIFAC ACO Role</label>
        <locationX>1324</locationX>
        <locationY>1871</locationY>
        <collectionReference>Get_Associated_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ACOId_NATSIFAC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Single_Associated_Account_NATSIFAC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_ABN_on_Child_TPOs</name>
        <label>Update ABN on Child TPOs</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_child_TPOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_ABN_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_TPOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ACO_RecordType</name>
        <label>ACO RecordType</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ACO_AP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aged_Care_Organisation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ACO_RecordType_CHSP</name>
        <label>ACO RecordType_CHSP</label>
        <locationX>1546</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ACO_CHSP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aged_Care_Organisation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>852</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Associated_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>852</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AP_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved_Provider</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Account</name>
        <label>Get Associated Account</label>
        <locationX>852</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateIsNull</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>DateIsToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Type_AP</name>
        <label>Get Care Type_AP</label>
        <locationX>182</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Type_is_Active_AP</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Associated_Account.Account_To_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Taken to be approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approve (with dependencies)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intention to Revoke</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Type_CHSP</name>
        <label>Get Care Type_CHSP</label>
        <locationX>1678</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Type_is_Active_CHSP</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Associated_Account_CHSP.Account_To_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Type_NATSIFAC</name>
        <label>Get Care Type_NATSIFAC</label>
        <locationX>1324</locationX>
        <locationY>2279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Type_is_Active_NATSIFAC</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Associated_Account_NATSIFAC.Account_To_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_child_TPOs</name>
        <label>Get child TPOs</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ABN_on_Child_TPOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ABN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Associated_Account</name>
        <label>Get Single Associated Account</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Type_AP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AcoIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Associated_Account_CHSP</name>
        <label>Get Single Associated Account CHSP</label>
        <locationX>1678</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Type_CHSP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CHSP_ACO_Role.Account_To_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Associated_Account_NATSIFAC</name>
        <label>Get Single Associated Account NATSIFAC</label>
        <locationX>1324</locationX>
        <locationY>2171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Type_NATSIFAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AcoIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Incorporation_Details</name>
        <label>Update Account Incorporation Details</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ARBN__c</field>
            <value>
                <elementReference>$Record.Parent.ARBN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporated_Under__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporated_Under__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_ID_Type__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_ID_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_ID__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Name__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Status_Date__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Status_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Status__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Type__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Incorporation_Details_Other_Accounts</name>
        <label>Update Account Incorporation Details Other Accounts</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ARBN__c</field>
            <value>
                <elementReference>$Record.Parent.ARBN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporated_Under__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporated_Under__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_ID_Type__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_ID_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_ID__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Name__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Status_Date__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Status_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Status__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Type__c</field>
            <value>
                <elementReference>$Record.Parent.Incorporation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_AP</name>
        <label>Update ACO AP</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Associated_Account.Account_From_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ABN__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_CHSP</name>
        <label>Update ACO CHSP</label>
        <locationX>1546</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>CHSP_ACO_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Associated_Account_CHSP.Account_From_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ABN__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_NATSIFAC</name>
        <label>Update ACO NATSIFAC</label>
        <locationX>1192</locationX>
        <locationY>2495</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Associated_Account_NATSIFAC.Account_From_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ABN__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>Get_Account_Record.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_TPOs</name>
        <label>Update Child TPOs</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>AP_ACO_Role</targetReference>
        </connector>
        <inputReference>TPOsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>726</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AcoIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncorporationFieldList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>IncorporationFieldUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TPOsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
