force-app/main/default/flows/Accreditation_Active_Status_Flag_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Accreditation_Status_Flag_True</name>
        <label>Accreditation Status Flag True</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>AccredStatusFlagTrue.Active_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Accreditation_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records</name>
        <label>Assign Records</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>AccredStatusFlagTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inactive_Accreditations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accreditation_Status_Flag_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Accreditation_Records</name>
        <label>Store Accreditation Records</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AccredTrueList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccredStatusFlagTrue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inactive_Accreditations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Active_Status_Flag</name>
        <label>Update Active Status Flag</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Accreditation_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Flag_False</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Inactive_Accreditations.Active_Status_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Flag_False</targetReference>
            </connector>
            <label>Status Flag False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status_Flag</name>
        <label>Update Status Flag</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Inactive_Accreditations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Status_Flag_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Accreditation_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Records</targetReference>
            </connector>
            <label>Active Status Flag True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Accreditation Active Status Flag Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accreditation Active Status Flag Update</label>
    <loops>
        <name>Inactive_Accreditations</name>
        <label>Inactive Accreditations</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Inactive_Accreditation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Active_Status_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inactive_Accreditation_Records</name>
        <label>Get Inactive Accreditation Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inactive_Accreditations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Status_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Accreditation_Certification__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accreditation_Record</name>
        <label>Update Accreditation Record</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <inputReference>AccredTrueList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Flag_False</name>
        <label>Update Status Flag False</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Update_Accreditation_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Status_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inactive_Accreditation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Accreditation_Certification__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccredStatusFlagTrue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>AccredTrueList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>InactiveAccreditations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
</Flow>
