force-app/main/default/flows/Address_Run_After_Save_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_New_Geospatial</name>
        <label>Add New Geospatial</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllGeospatial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>geospatial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLayerVersion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>geospatial.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geospatial.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLayerVersion.GPMS_Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geospatial.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLayerVersion.GPMS_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geospatial.Layer_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLayerVersion.GPMS_Layer_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geospatial.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLayerVersion.GPMS_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geospatial.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLayerVersion.GPMS_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geospatial.Refresh_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>geospatial.MuleExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Integration_ID__c}_{!LoopLayerVersion.GPMS_Layer_Id__c}_{!LoopLayerVersion.GPMS_Version__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Geospatial</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>layerId</name>
        <dataType>String</dataType>
        <expression>TEXT({!LoopLayerVersion.GPMS_Layer_Id__c})</expression>
    </formulas>
    <interviewLabel>Address: Run After Save - Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address: Run After Save - Create</label>
    <loops>
        <name>LoopLayerVersion</name>
        <label>LoopLayerVersion</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>GetLayerVersion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Refresh_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Geospatial</name>
        <label>Create Geospatial</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputReference>AllGeospatial</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Refresh_Event</name>
        <label>Create Refresh Event</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Create_Geospatial</targetReference>
        </connector>
        <inputAssignments>
            <field>AddressId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPMS_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude__c</field>
            <value>
                <elementReference>$Record.Latitude_Longitude__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude__c</field>
            <value>
                <elementReference>$Record.Latitude_Longitude__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Refresh__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetLayerVersion</name>
        <label>GetLayerVersion</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLayerVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GPMS_Geospatial_Information_LayerVersion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLayerVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPMS_Geospatial_Information_LayerVersion__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPMS_Layer_Version_GILV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filterFormula>NOT(ISNULL({!$Record.Latitude_Longitude__Latitude__s}) &amp;&amp; ISNULL({!$Record.Latitude_Longitude__Longitude__s})) &amp;&amp; NOT({!$Setup.BypassTriggers__c.BypassValidationRules__c})</filterFormula>
        <object>Address__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllGeospatial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Geospatial_Information__c</objectType>
    </variables>
    <variables>
        <name>geospatial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Geospatial_Information__c</objectType>
    </variables>
</Flow>
