force-app/main/default/flows/After_Save_Accreditation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_first_accreditation_record</name>
        <label>assign first accreditation record</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>accreditationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_the_Accreditation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_the_Accreditation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_other_accreditation_records</name>
        <label>Assign other accreditation records</label>
        <locationX>528</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>allOtherAccreditList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignotheraccrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_the_Accreditation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_other_records</name>
        <label>Assign other records</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>assignotheraccrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_the_Accreditation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_it_inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_it_inactive</name>
        <label>Make it inactive</label>
        <locationX>528</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>assignotheraccrecord.Active_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_other_accreditation_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Accreditation_Records</name>
        <label>Check for Accreditation Records</label>
        <locationX>792</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_the_Accreditation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accreditation_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_the_Accreditation.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accreditation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_the_Accreditation.Active_Status_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_List</targetReference>
            </connector>
            <label>Accreditation Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_List</name>
        <label>Null List</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_other_accreditation_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Elements_Exists_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accreditationRecord</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_the_Accreditation.Active_Status_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_first_accreditation_record</targetReference>
            </connector>
            <label>No Elements Exists Before</label>
        </rules>
        <rules>
            <name>Look_for_existing_Accreditation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_the_Accreditation.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_other_records</targetReference>
            </connector>
            <label>Look for existing Accreditation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>After Save: Accreditation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save: Accreditation</label>
    <loops>
        <name>Iterate_Over_the_Accreditation</name>
        <label>Iterate Over the Accreditation</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_All_Accreditation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Accreditation_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_the_existing_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Accreditation_Records</name>
        <label>Get All Accreditation Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_the_Accreditation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Accreditation_Certification__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_the_existing_records</name>
        <label>Update all the existing records</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <inputReference>allOtherAccreditList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Accreditation_Records</targetReference>
        </connector>
        <object>Accreditation_Certification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>accreditationList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>accreditationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>accreditationValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>allOtherAccreditList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>assignotheraccrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
</Flow>
