force-app/main/default/flows/ALT_Update_Allotment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Provisional_Places_and_Mark_Documents_as_Sent</name>
        <label>Check Provisional Places and Mark Documents as Sent</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6) OR (7 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPMS_Mark_Documents_as_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Mark_Documents_as_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GPMS_Mark_Documents_as_Sent__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Provisional__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Provisional__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Operational__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Operational__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Offline__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Offline__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAllotmentNotNull</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GPMS_Mark_Documents_as_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Mark_Documents_as_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GPMS_Mark_Documents_as_Sent__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Provisional__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Provisional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Operational__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Operational__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Offline__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPMS_Offline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Allotment</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <description>Updates allotment record</description>
    <environments>Default</environments>
    <formulas>
        <name>PAPeriodEndDate4Years</name>
        <dataType>Date</dataType>
        <expression>DATE( 
YEAR({!$Record.GPMS_Mark_Documents_as_Sent__c}) + 4, 
MONTH({!$Record.GPMS_Mark_Documents_as_Sent__c}), 
DAY({!$Record.GPMS_Mark_Documents_as_Sent__c})
 )</expression>
    </formulas>
    <interviewLabel>ALT: Update Allotment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALT: Update Allotment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Allotment</name>
        <label>Update Allotment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date_of_Allotment__c</field>
            <value>
                <elementReference>$Record.GPMS_Mark_Documents_as_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAllotmentNotNull</name>
        <label>Update Allotment Not Null</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date_of_Allotment__c</field>
            <value>
                <elementReference>$Record.GPMS_Mark_Documents_as_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Date_of_Allotment__c</field>
            <value>
                <elementReference>$Record.GPMS_Mark_Documents_as_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_PA_Period_End_Date__c</field>
            <value>
                <elementReference>PAPeriodEndDate4Years</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PA_Period_End_Date__c</field>
            <value>
                <elementReference>PAPeriodEndDate4Years</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Provisional_Places_and_Mark_Documents_as_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPMS_Mark_Documents_as_Sent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Allotment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
