force-app/main/default/flows/Application_Set_RFISentToReviewerOrDelegate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>If_RFI_Sent_to_Reviewer_or_Delegate</name>
        <label>If RFI Sent to Reviewer or Delegate</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Set_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Sent</defaultConnectorLabel>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_the_related_RFIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_True</targetReference>
            </connector>
            <label>Sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewCase</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Application: Set RFISentToReviewerOrDelegate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application: Set RFISentToReviewerOrDelegate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_the_related_RFIs</name>
        <label>Get all the related RFIs</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_RFI_Sent_to_Reviewer_or_Delegate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RFISentToReviewerOrDelegate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_the_related_RFIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request_for_Information</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_False</name>
        <label>Set False</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>RFISentToReviewerOrDelegate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_True</name>
        <label>Set True</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>RFISentToReviewerOrDelegate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>NewStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NewStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Assessment RFI - Fee payment pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>NewStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Assessment RFI Response pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>NewStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formal Assessment RFI - Fee payment pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>NewStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formal Assessment RFI Response Pending</stringValue>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RFIStatusNotOK</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RFIStatusOK</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
