force-app/main/default/flows/ApprovedProviderServiceTransfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CareTypeDecision</name>
        <label>CareTypeDecision</label>
        <locationX>1766</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NotHomeCareScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaretypeIsHomeCare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceRecord.Care_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTransferFrom_HomeCare</targetReference>
            </connector>
            <label>CaretypeIsHomeCare</label>
        </rules>
        <rules>
            <name>CaretypeIsNATSIFAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceRecord.Care_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Aboriginal and Torres Strait Islander Flexible Aged Care Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTransferFrom_NATSIFAC</targetReference>
            </connector>
            <label>CaretypeIsNATSIFAC</label>
        </rules>
        <rules>
            <name>CaretypeNotNATSIFAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceRecord.Care_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>National Aboriginal and Torres Strait Islander Flexible Aged Care Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotHomeCareScreen_NATSIFAC</targetReference>
            </connector>
            <label>CaretypeNotNATSIFAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAccountCaretype_NATSIFAC</name>
        <label>CheckAccountCaretype</label>
        <locationX>1898</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Not_Account_Provider_Screen_NATSIFAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckNATSIFAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaretype_NATSIFAC.Care_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Aboriginal and Torres Strait Islander Flexible Aged Care Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePreviousApprovedProvider_NATSIFAC</targetReference>
            </connector>
            <label>CheckNATSIFAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTransferToRecordType</name>
        <label>CheckAccountCaretype</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Not_Account_Provider_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsHomeCare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaretypeRecord_HomeCare.Care_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePreviousApprovedProvider_HomeCare</targetReference>
            </connector>
            <label>IsHomeCare</label>
        </rules>
    </decisions>
    <description>Removed space between Transfer Date and added Link to Document field in Home care</description>
    <environments>Default</environments>
    <formulas>
        <name>AddEndDate</name>
        <dataType>Date</dataType>
        <expression>IF (NOT(ISNULL({!TransferDate_HomeCare})), {!TransferDate_HomeCare} -1,{!TransferDate_NATSIFAC} -1)</expression>
    </formulas>
    <formulas>
        <name>DateValueNULL</name>
        <dataType>Date</dataType>
        <expression>DateValue(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApprovedProviderServiceTransfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewApprovedProvider_HomeCare</name>
        <label>CreateNewApprovedProvider_HomeCare</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>UpdateContactRelationshipRecord_HomeCare</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Association_Start_Date__c</field>
            <value>
                <elementReference>TransferDate_HomeCare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Provider__c</field>
            <value>
                <elementReference>Comments_HomeCare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPMS_Link_To_Document__c</field>
            <value>
                <elementReference>Link_to_Document_Home_care</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Name__c</field>
            <value>
                <elementReference>TransferTo_HomeCare.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewApprovedProvider_NATSIFAC</name>
        <label>CreateNewApprovedProvider_NATSIFAC</label>
        <locationX>1370</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>UpdateContactRelationshipRecord_NATSIFAC</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Association_Start_Date__c</field>
            <value>
                <elementReference>TransferDate_NATSIFAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Provider__c</field>
            <value>
                <elementReference>Comments_NATSIFAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPMS_Link_To_Document__c</field>
            <value>
                <elementReference>Link_To_Document_NATSIFAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Name__c</field>
            <value>
                <elementReference>TransferTo_NATSIFAC.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Previous_Provider</name>
        <label>Get Previous Provider</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Account_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Association_Start_Date__c</queriedFields>
        <sortField>Association_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Provider_NATSIFAC</name>
        <label>Get Previous Provider_NATSIFAC</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NATSIFAC_Transfer_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Account_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Association_Start_Date__c</queriedFields>
        <sortField>Association_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaretype_NATSIFAC</name>
        <label>GetCaretype_NATSIFAC</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountCaretype_NATSIFAC</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransferTo_NATSIFAC.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Aboriginal and Torres Strait Islander Flexible Aged Care Program</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Taken to be approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approve (with dependencies)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaretypeRecord_HomeCare</name>
        <label>GetCaretypeRecord_HomeCare</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTransferToRecordType</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransferTo_HomeCare.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Taken to be approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approve (with dependencies)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactRelationshipRecord_HomeCare</name>
        <label>GetContactRelationshipRecord_HomeCare</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactRelationshipRecord_NATSIFAC</name>
        <label>GetContactRelationshipRecord_NATSIFAC</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Provider_NATSIFAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceRecord</name>
        <label>GetServiceRecord</label>
        <locationX>1766</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CareTypeDecision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Aboriginal and Torres Strait Islander Flexible Aged Care Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTransferFrom_HomeCare</name>
        <label>GetTransferFrom_HomeCare</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactRelationshipRecord_HomeCare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Association_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateValueNULL</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Account_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTransferFrom_NATSIFAC</name>
        <label>GetTransferFrom_NATSIFAC</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactRelationshipRecord_NATSIFAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Association_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateValueNULL</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Account_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTransferTo_NATSIFAC</name>
        <label>GetTransferTo_NATSIFAC</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaretype_NATSIFAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransferTo_NATSIFAC.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTransferToRecord_HomeCare</name>
        <label>GetTransferToRecord_HomeCare</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaretypeRecord_HomeCare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransferTo_HomeCare.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactRelationshipRecord_HomeCare</name>
        <label>UpdateContactRelationshipRecord_HomeCare</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>TransferTo_HomeCare.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactRelationshipRecord_NATSIFAC</name>
        <label>UpdateContactRelationshipRecord_NATSIFAC</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>TransferTo_NATSIFAC.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreviousApprovedProvider_HomeCare</name>
        <label>UpdatePreviousApprovedProvider_HomeCare</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Confirmation_HomeCare</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Association_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateValueNULL</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Association_End_Date__c</field>
            <value>
                <elementReference>AddEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Account_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePreviousApprovedProvider_NATSIFAC</name>
        <label>UpdatePreviousApprovedProvider_NATSIFAC</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Confirmation_NATSIFAC</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Association_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateValueNULL</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Association_End_Date__c</field>
            <value>
                <elementReference>AddEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Account_Relationship__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_HomeCare</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNewApprovedProvider_HomeCare</targetReference>
        </connector>
        <fields>
            <name>DepartmentalFileNumber_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Integration ID:&lt;/strong&gt; {!GetTransferFrom_HomeCare.Provider_Name__r.Integration_ID__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferFromDisplay_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer From:&lt;/strong&gt; {!GetTransferFrom_HomeCare.Provider_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferToDisplay_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer To:&lt;/strong&gt; {!TransferTo_HomeCare.recordName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayTransferDate_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer Date:&lt;/strong&gt; {!TransferDate_HomeCare}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Link_to_Document_Home_care</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: windowtext;&quot;&gt;Link to Document: &lt;/strong&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: windowtext;&quot;&gt;{!Link_to_Document_Home_care}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CommentsDisplay_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Comments:&lt;/strong&gt; {!Comments_HomeCare}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_NATSIFAC</name>
        <label>Confirmation</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNewApprovedProvider_NATSIFAC</targetReference>
        </connector>
        <fields>
            <name>DepartmentalFileNumber_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Integration ID:&lt;/strong&gt; {!GetTransferFrom_NATSIFAC.Provider_Name__r.Integration_ID__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferFromDisplay_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer From:&lt;/strong&gt; {!GetTransferFrom_NATSIFAC.Provider_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferToDisplay_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer To:&lt;/strong&gt; {!TransferTo_NATSIFAC.recordName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayTransferDate_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer Date:&lt;/strong&gt; {!TransferDate_NATSIFAC}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Link_to_Document_Display_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Link to Document:   &lt;/strong&gt;{!Link_To_Document_NATSIFAC}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CommentsDisplay_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Comments: &lt;/strong&gt;{!Comments_NATSIFAC}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(36, 36, 36); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Error occurred during update. Please contact admin for support. Error message : {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NATSIFAC_Transfer_Provider</name>
        <label>Transfer Provider</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetTransferTo_NATSIFAC</targetReference>
        </connector>
        <fields>
            <name>IntegrationId_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Integration ID: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetTransferFrom_NATSIFAC.Provider_Name__r.Integration_ID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferFrom_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer From:&lt;/strong&gt; {!GetTransferFrom_NATSIFAC.Provider_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferTo_NATSIFAC</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Provider_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Transfer To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Service_Account_Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TransferDate_NATSIFAC</name>
            <dataType>Date</dataType>
            <fieldText>Transfer Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The date must be at least one day later than the previous provider effective date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!TransferDate_NATSIFAC} &gt; {!Get_Previous_Provider_NATSIFAC.Association_Start_Date__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Link_To_Document_NATSIFAC</name>
            <fieldText>Link To Document</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments_NATSIFAC</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Account_Provider_Screen</name>
        <label>Not Account Provider Screen</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Transfer_Provider</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NotAccountProviderText_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&quot;Service can only be transferred to a provider that is approved to deliver Home Care&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Account_Provider_Screen_NATSIFAC</name>
        <label>Not Account Provider Screen</label>
        <locationX>2426</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>NATSIFAC_Transfer_Provider</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NotAccountProviderText_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&quot;This function is only for the transfer of NATSIFAC services to other providers approved to deliver NATSIFAC&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotHomeCareScreen</name>
        <label>NotHomeCareScreen</label>
        <locationX>2954</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotHomeCareText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Service can only be transferred to a provider that is service with home care&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotHomeCareScreen_NATSIFAC</name>
        <label>Not Home Care Screen</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotHomeCareText_NATSIFAC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Service can only be transferred to a provider that is service with NATSIFAC&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Provider</name>
        <label>Transfer Provider</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetTransferToRecord_HomeCare</targetReference>
        </connector>
        <fields>
            <name>IntegrationId_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Integration ID: &lt;/strong&gt;{!GetTransferFrom_HomeCare.Provider_Name__r.Integration_ID__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferFrom_HomeCare</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transfer From:&lt;/strong&gt; {!GetTransferFrom_HomeCare.Provider_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferTo_HomeCare</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Provider_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Transfer To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Service_Account_Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TransferDate_HomeCare</name>
            <dataType>Date</dataType>
            <fieldText>Transfer Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: inherit; color: rgb(255, 0, 0); font-family: Calibri, sans-serif; font-size: 14.6667px;&quot;&gt;The date must be at least one day later than the previous provider effective date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!TransferDate_HomeCare} &gt; {!Get_Previous_Provider.Association_Start_Date__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Link_to_Document_Home_care</name>
            <fieldText>Link to Document</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments_HomeCare</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetServiceRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccountRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreTransferTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
