force-app/main/default/flows/AR_Populate_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>End_Date</name>
        <label>End Date</label>
        <locationX>248</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_ACO_for_Provider_or_TPO.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ACO_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Account_on_Provider_or_TPO</name>
        <label>Set Parent Account on Provider or TPO</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Provider_or_TPO.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_From_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account_On_Provider_or_TPO</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ACO_to_Account_Record_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACO_to_Account</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_ACO_Status</name>
        <label>Check ACO Status</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_ACO_for_Provider_or_TPO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ACO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_on_AR</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_End_Date</name>
        <label>Check End Date</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_If_Start_Date_Is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Provider_or_TPO</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ACO_Role_Exists_For_Provider_or_TPO</name>
        <label>Check If ACO Role Exists For Provider or TPO</label>
        <locationX>380</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Not Exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_ACO_for_Provider_or_TPO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_ACO_for_Provider_or_TPO.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ACO_to_Account_Record_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Date</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Start_Date_Is_Null</name>
        <label>Check If Start Date Is Null</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>UpdateStartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Date</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_ACO_for_Provider_or_TPO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACO_to_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACO_to_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_End_Date</targetReference>
            </connector>
            <label>ACO to Account</label>
        </rules>
    </decisions>
    <description>Populates End Date with current date when new ACO role is created for the same provider or third party org</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c}</expression>
    </formulas>
    <formulas>
        <name>EndDateUpdate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c}-1</expression>
    </formulas>
    <interviewLabel>AR : Populate End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AR : Populate End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ACO</name>
        <label>Get ACO</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ACO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ACO_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_ACO_for_Provider_or_TPO</name>
        <label>Get Existing ACO for Provider or TPO</label>
        <locationX>380</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ACO_Role_Exists_For_Provider_or_TPO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_To_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_or_TPO</name>
        <label>Get Provider or TPO</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_Account_on_Provider_or_TPO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_To_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACO_End_Date</name>
        <label>Update ACO End Date</label>
        <locationX>248</locationX>
        <locationY>2279</locationY>
        <inputReference>Get_Existing_ACO_for_Provider_or_TPO</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account_On_Provider_or_TPO</name>
        <label>Update Parent Account On Provider or TPO</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Check_If_Start_Date_Is_Null</targetReference>
        </connector>
        <inputReference>Get_Provider_or_TPO</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Start_Date</name>
        <label>Update Start Date</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Get_ACO</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_on_AR</name>
        <label>Update Status on AR</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Get_Existing_ACO_for_Provider_or_TPO</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_ACO.ACO_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStartDate</name>
        <label>Update Start Date</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Get_ACO</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <object>Account_Relationship__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
