force-app/main/default/flows/AR_Populate_ABN_Details_On_ACO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>StoreCHSPRecords</name>
        <label>StoreCHSPRecords</label>
        <locationX>138</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>StoreAllCHASPACORoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_CHSP_ACO_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CHSP_ACO_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreNATSIFACRecords</name>
        <label>StoreNATSIFACRecords</label>
        <locationX>490</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>StoreNATSIFACACORoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NATSIFAC_ACO_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATSIFAC_ACO_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreOtherACORolesRecords</name>
        <label>StoreOtherACORolesRecords</label>
        <locationX>1018</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>StoreOtherACORoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAllOtherACORoles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllOtherACORoles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Care_Types</name>
        <label>Check Care Types</label>
        <locationX>204</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Get_CHSP_ACO_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Care_Type.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Care_Type.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taken to be Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Care_Type.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve (with dependencies)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Care_Type.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intention to Revoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Provider_Record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_AP_ACO_Role_Exist</name>
        <label>Check If AP ACO Role Exist</label>
        <locationX>358</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Get_CHSP_ACO_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AP_ACO_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AP_ACO_Role</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_CHSP_ACO_Role_Exist</name>
        <label>Check If CHSP ACO Role Exist</label>
        <locationX>358</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Get_NATSIFAC_ACO_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_CHSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CHSP_ACO_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_CHSP_ACO_Roles</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_NATSIFAC_ACO_Role_Exist</name>
        <label>Check If  NATSIFAC ACO Role Exist</label>
        <locationX>666</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>GetACORolesOtherRecordTypeIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist_NATSIFAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NATSIFAC_ACO_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NATSIFAC_ACO_Role</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1040</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACO_to_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_From_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ACO_To_Account_Record_Type</targetReference>
            </connector>
            <label>ACO to Account</label>
        </rules>
        <rules>
            <name>Check_for_AR_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_AR_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ACO_to_Inactive</targetReference>
            </connector>
            <label>Check for AR record</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfOtherRolesExist</name>
        <label>CheckIfOtherRolesExist</label>
        <locationX>930</locationX>
        <locationY>2819</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organisation_Owned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreOtherACORoles.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aged Care Organisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreOtherACORoles.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreOtherACORoles.Account_To_Id__r.ACO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACO_Status_Owner</targetReference>
            </connector>
            <label>Organisation Owned</label>
        </rules>
        <rules>
            <name>OtherRoles</name>
            <conditionLogic>1 AND(  2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>StoreOtherACORoles.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreOtherACORoles.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrative Organisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreOtherACORoles.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Management Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreOtherACORoles.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Delivery Organisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACO_Status_Other</targetReference>
            </connector>
            <label>OtherRoles</label>
        </rules>
    </decisions>
    <description>Populates abn details on aco</description>
    <environments>Default</environments>
    <interviewLabel>AR: Populate ABN Details On ACO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AR: Populate ABN Details On ACO</label>
    <loops>
        <name>AP_ACO_Role</name>
        <label>AP ACO Role</label>
        <locationX>204</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_AP_ACO_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Care_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Care_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_CHSP_ACO_Roles</name>
        <label>Check CHSP ACO Roles</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <collectionReference>Get_CHSP_ACO_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>StoreCHSPRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ACO_From_CHSP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAllOtherACORoles</name>
        <label>LoopAllOtherACORoles</label>
        <locationX>930</locationX>
        <locationY>2519</locationY>
        <collectionReference>GetOtherACORoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>StoreOtherACORolesRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckIfOtherRolesExist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NATSIFAC_ACO_Role</name>
        <label>NATSIFAC ACO Role</label>
        <locationX>402</locationX>
        <locationY>2303</locationY>
        <collectionReference>Get_NATSIFAC_ACO_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>StoreNATSIFACRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ACO_From_NATSIFAC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ACO</name>
        <label>Get ACO</label>
        <locationX>358</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AP_ACO_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACO_To_Account_Record_Type</name>
        <label>Get ACO To Account Record Type</label>
        <locationX>358</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ACO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Relationship__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACO_to_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_AR_Records</name>
        <label>Get All AR Records</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_From_Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AP_ACO_Roles</name>
        <label>Get AP ACO Roles</label>
        <locationX>358</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_AP_ACO_Role_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO_To_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Provider_Record</name>
        <label>Get Approved Provider Record</label>
        <locationX>72</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ACO_From_Approved_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Care_Type.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Type</name>
        <label>Get Care Type</label>
        <locationX>292</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AP_ACO_Role</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AP_ACO_Role.Account_To_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approve (with dependencies)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intention to Revoke</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Taken to be Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CHSP_ACO_Roles</name>
        <label>Get CHSP ACO Roles</label>
        <locationX>358</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_CHSP_ACO_Role_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO_To_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commonwealth Home Support Programme</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NATSIFAC_ACO_Roles</name>
        <label>Get NATSIFAC ACO Roles</label>
        <locationX>666</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_NATSIFAC_ACO_Role_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO_To_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National Aboriginal and Torres Strait Islander Flexible Aged Care Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetACORolesOtherRecordTypeIds</name>
        <label>GetACORolesOtherRecordTypeIds</label>
        <locationX>930</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOtherACORoles</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Relationship__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation_Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_to_Administrative_Organisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_to_Management_Company</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_to_Service_Delivery_Organisation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOtherACORoles</name>
        <label>GetOtherACORoles</label>
        <locationX>930</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllOtherACORoles</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative Organisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Management Company</stringValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aged Care Organisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Delivery Organisation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_ACO_to_Inactive</name>
        <label>Set ACO to Inactive</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_From_Id__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACO_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_From_Approved_Provider</name>
        <label>Update ACO From Approved Provider</label>
        <locationX>72</locationX>
        <locationY>1487</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>Get_Care_Type.Account__r.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>Get_Care_Type.Account__r.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>Get_Care_Type.Account__r.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>Get_Care_Type.Account__r.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_From_CHSP</name>
        <label>Update ACO From CHSP</label>
        <locationX>50</locationX>
        <locationY>2387</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>StoreAllCHASPACORoles.Account_To_Id__r.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>StoreAllCHASPACORoles.Account_To_Id__r.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>StoreAllCHASPACORoles.Account_To_Id__r.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>StoreAllCHASPACORoles.Account_To_Id__r.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_From_NATSIFAC</name>
        <label>Update ACO From NATSIFAC</label>
        <locationX>402</locationX>
        <locationY>2603</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>StoreNATSIFACACORoles.Account_To_Id__r.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>StoreNATSIFACACORoles.Account_To_Id__r.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>StoreNATSIFACACORoles.Account_To_Id__r.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>StoreNATSIFACACORoles.Account_To_Id__r.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_Status_Other</name>
        <label>Update ACO Status_Other</label>
        <locationX>930</locationX>
        <locationY>2927</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreOtherACORoles.Account_From_Id__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_Status_Owner</name>
        <label>Update ACO Status_Owner</label>
        <locationX>666</locationX>
        <locationY>2927</locationY>
        <connector>
            <targetReference>Update_Organisation_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreOtherACORoles.Account_To_Id__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organisation_Owner</name>
        <label>Update Organisation Owner</label>
        <locationX>666</locationX>
        <locationY>3035</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreOtherACORoles.Account_From_Id__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_AR_Records</targetReference>
        </connector>
        <object>Account_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoreAllCHASPACORoles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Relationship__c</objectType>
    </variables>
    <variables>
        <name>StoreNATSIFACACORoles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Relationship__c</objectType>
    </variables>
    <variables>
        <name>StoreOtherACORoles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Relationship__c</objectType>
    </variables>
</Flow>
