force-app/main/default/flows/AR_Update_Account_Total_Owned_Percentage_OO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddPercentageAR</name>
        <label>AddPercentageAR</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>TotalPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllARs.Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllARs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPercentageCR</name>
        <label>AddPercentageCR</label>
        <locationX>138</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>TotalPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllCRs.Percentage_Owned__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllCRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkOwner</name>
        <label>checkOwner</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organisation_Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllAROwners</targetReference>
            </connector>
            <label>isOwner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>iniPercentage</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.End_Date__c}&lt;{!$Flow.CurrentDate},0,{!$Record.Percentage__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Relationship</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Percentage__c}=100,&quot;Fully Owned&quot;,&quot;Partially Owned&quot;)</expression>
    </formulas>
    <interviewLabel>AR: Update Account Total Owned Percentage (OO) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AR: Update Account Total Owned Percentage (OO)</label>
    <loops>
        <name>LoopAllARs</name>
        <label>LoopAllARs</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>GetAllAROwners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddPercentageAR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllCROwners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAllCRs</name>
        <label>LoopAllCRs</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <collectionReference>GetAllCROwners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddPercentageCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllAROwners</name>
        <label>GetAllAROwners</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllARs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_To_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllCROwners</name>
        <label>GetAllCROwners</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllCRs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_To_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAR</name>
        <label>UpdateAR</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_Total_Percentage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TotalPercentage</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Total_Percentage__c</field>
            <value>
                <elementReference>TotalPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Percentage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Percentage__c</elementReference>
        </value>
    </variables>
</Flow>
