force-app/main/default/flows/Care_Type_Update_ACO_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ACO_Status</name>
        <label>ACO Status</label>
        <locationX>281</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_ACO.ACO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ACO_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ACOStatus</name>
        <label>ACO Status</label>
        <locationX>1722</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>GetACO.ACO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ACOStatus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_is_NATSIFAC</name>
        <label>Check Account is NATSIFAC</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NATSIFAC_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Aboriginal_and_Torres_Strait_Islander_Flexible_Aged_Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACO_ABN_NATSIFAC</targetReference>
            </connector>
            <label>NATSIFAC exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Care_Type_Status</name>
        <label>Check Care Type Status</label>
        <locationX>1273</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_ACORole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved and Not Funded</defaultConnectorLabel>
        <rules>
            <name>Is_Approved_or_Funded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taken to be Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve (with dependencies)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intention to Revoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetACORole</targetReference>
            </connector>
            <label>Is Approved or Funded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CHSP_Account</name>
        <label>Check CHSP Account</label>
        <locationX>512</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Check_Account_is_NATSIFAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHSP_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commonwealth_Home_Support_Programme</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACO_ABN_CHSP</targetReference>
            </connector>
            <label>CHSP Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_is_AP</name>
        <label>Check if Account is AP</label>
        <locationX>281</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_CHSP_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved_Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACO_ABN</targetReference>
            </connector>
            <label>Approved Provider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ACO_Role_Exists</name>
        <label>Check If ACO Role Exists</label>
        <locationX>693</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetACORole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetACORole.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACO_to_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ACO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ACO_RoleExists</name>
        <label>Check If ACO Role Exists</label>
        <locationX>1854</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Role_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ACORole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ACORole.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACO_to_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetACO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_any_Funded_Approved_Care_types</name>
        <label>Check If any Funded/Approved Care types</label>
        <locationX>1942</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>ACO_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funded_Approved_Care_Types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approved_Funded_Care_Types</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Funded/Approved Care Types</label>
        </rules>
    </decisions>
    <description>Updates ACO Status when Care Type status is &apos;Approved&apos; or &apos;Not Approved&apos;</description>
    <environments>Default</environments>
    <interviewLabel>Care {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Care Type : Update ACO Status</label>
    <loops>
        <name>ACO_Role</name>
        <label>ACO Role</label>
        <locationX>1722</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_All_ACO_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Approved_Funded_Care_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ACOStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ACO</name>
        <label>Get ACO</label>
        <locationX>281</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetACORole.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACORole</name>
        <label>GetACORole</label>
        <locationX>1854</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ACO_RoleExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Relationship_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_ACO_Roles</name>
        <label>Get All ACO Roles</label>
        <locationX>1722</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACO_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetACO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Funded_Care_Types</name>
        <label>Get Approved/Funded Care Types</label>
        <locationX>1942</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_any_Funded_Approved_Care_types</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 5) AND 4</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACO_Role.Account_To_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Taken to be Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetACO</name>
        <label>Get ACO</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_ACO_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACORole.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetACORole</name>
        <label>GetACORole</label>
        <locationX>693</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ACO_Role_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Relationship_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACO_ABN</name>
        <label>Update ACO ABN</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetACORole.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.ABN__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_ABN_CHSP</name>
        <label>Update ACO ABN_CHSP</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetACORole.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.ABN__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_ABN_NATSIFAC</name>
        <label>Update ACO ABN_NATSIFAC</label>
        <locationX>578</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetACORole.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ABN__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.ABN__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN_Effective_Date__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN_Entity_Type__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN_Entity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>$Record.Account__r.ABN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACO_Status</name>
        <label>Update ACO Status</label>
        <locationX>281</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Check_if_Account_is_AP</targetReference>
        </connector>
        <inputReference>Get_ACO</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ACOStatus</name>
        <label>Update ACO Status</label>
        <locationX>1722</locationX>
        <locationY>1727</locationY>
        <inputReference>GetACO</inputReference>
    </recordUpdates>
    <start>
        <locationX>1147</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Care_Type_Status</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Current_Approval_Status__c})</filterFormula>
        <object>Care_Type__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_Approved_Provider_ACO_Roles_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Relationship__c</objectType>
    </variables>
</Flow>
