force-app/main/default/flows/Care_Type_Create_Care_Type_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Current_Approval_Status</name>
        <label>Check Current Approval Status</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Care_Type_History</targetReference>
            </connector>
            <label>Funded</label>
        </rules>
    </decisions>
    <description>Creates Care Type History when Current Approval Status is changed</description>
    <environments>Default</environments>
    <interviewLabel>Care Type: Create Care Type History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Care Type: Create Care Type History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Care_Type_History</name>
        <label>Create Care Type History</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>GPMS_Care_Type_Status__c</field>
            <value>
                <elementReference>$Record__Prior.Current_Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPMS_Care_Type__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPMS_Effective_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>GPMS_Care_Type_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Current_Approval_Status</targetReference>
        </connector>
        <object>Care_Type__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
