force-app/main/default/flows/Case_Update_Due_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request_for_Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RFI_Due_Date</targetReference>
            </connector>
            <label>IsRFI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RFIDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Date_Requested__c}+28</expression>
    </formulas>
    <interviewLabel>Case: Update Due Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Update Due Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_On_Case</name>
        <label>Update Account On Case</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Application__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RFI_Due_Date</name>
        <label>Update RFI Due Date</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>RFI_Due_Date__c</field>
            <value>
                <elementReference>RFIDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_On_Case</targetReference>
        </connector>
        <filterFormula>OR(AND(ISNEW(), TEXT({!$Record.Status}) != null) , AND(NOT(ISNEW()), ISCHANGED({!$Record.Status})))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
