force-app/main/default/flows/CEIWithdrawConsent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetIPVariables</name>
        <label>SetIPVariables</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>SRQI_RecalcFromFlow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_IP_Values</name>
        <label>Set IP Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordVars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetIPVariables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_Response_Data</name>
        <label>Set Response Data</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Future_Calc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Future Rating</defaultConnectorLabel>
        <rules>
            <name>Window_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecalcEarly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsMostRecentRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Recalc</targetReference>
            </connector>
            <label>Extant Record</label>
        </rules>
        <rules>
            <name>Window_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMostRecentRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Past</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_No_Recalc</targetReference>
            </connector>
            <label>Past Record</label>
        </rules>
    </decisions>
    <description>Correcting Update - No Recalc action to include Consent_Status__c field</description>
    <environments>Default</environments>
    <formulas>
        <name>IsMostRecentRecord</name>
        <dataType>String</dataType>
        <expression>IF( {!recordId.Consumer_Experience_Report__r.Rating_Exemption_Granted__c} = true, &quot;Extant&quot;,&quot;Past&quot;)</expression>
    </formulas>
    <formulas>
        <name>RecalcEarly</name>
        <dataType>Boolean</dataType>
        <expression>IF(TODAY() &lt;= {!recordId.Consumer_Experience_Report__r.Quarterly_RP__r.CER_Calc_Date__c}, true, false)</expression>
    </formulas>
    <formulas>
        <description>Based on the Recalc Window variable, was the Rating recalculated or not</description>
        <name>RecalcOutcome</name>
        <dataType>String</dataType>
        <expression>IF( 
     AND( {!RecalcEarly}
 = false,
{!recordId.Consumer_Experience_Report__r.Rating_Exemption_Granted__c}
 = true), 
          &quot;WAS recalculated&quot;,
IF( 
    AND( {!RecalcEarly}
 = false,
{!recordId.Consumer_Experience_Report__r.Rating_Exemption_Granted__c}
 = false),
&quot;WAS NOT recalculated&quot;, 
IF( {!RecalcEarly}
 = true,
&quot;WILL BE Recalculated&quot;,
&quot;Encountered an ERROR&quot;)
))</expression>
    </formulas>
    <interviewLabel>CEIWithdrawConsent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CEIWithdrawConsent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_SRHId</name>
        <label>Get SRHId</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Response_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consumer_Experience_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Consumer_Experience_Report__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STAR_Rating_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Record updates in preparation for calculation</description>
        <name>Update_Future_Calc</name>
        <label>Update- Future Calc</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_Thing_About_This_Service__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_Need__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caring__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competent__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Status__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explain__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Food__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geography__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Improvement_At_This_Service__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Independent__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_INT__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proxy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respect__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_ATSI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_CALD__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_CL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_FA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_FSD__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_Hom__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_LGBTI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_Vet__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trans__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voice__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>SRQI_CEI__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Record updates where a recalculation can not be executed</description>
        <name>Update_No_Recalc</name>
        <label>Update- No Recalc</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_Thing_About_This_Service__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Status__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geography__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Improvement_At_This_Service__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_INT__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proxy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_ATSI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_CALD__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_CL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_FA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_FSD__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_Hom__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_LGBTI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_Vet__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trans__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>SRQI_CEI__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Record updates where a recalculation can be executed</description>
        <name>Update_Recalc</name>
        <label>Update-Recalc</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_IP_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AP__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_Thing_About_This_Service__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_Need__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caring__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competent__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Status__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explain__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Food__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geography__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Improvement_At_This_Service__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Independent__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_INT__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proxy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respect__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_ATSI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_CALD__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_CL__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_FA__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_FSD__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_Hom__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_LGBTI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNG_Vet__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trans__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voice__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>SRQI_CEI__c</object>
    </recordUpdates>
    <screens>
        <name>WithdrawConsent</name>
        <label>WithdrawConsent</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_SRHId</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Has this participant withdrawn their consent?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Early</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;This interview was to be included in calculations for the next rating update due&amp;nbsp;on &lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!recordId.Consumer_Experience_Report__r.Quarterly_RP__r.CER_Calc_Date__c}, and as such the following action will be taken:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Demographic data will be nullified&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Participant responses will be set to withdrawn&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The service&apos;s CER rating will be calculated on {!recordId.Consumer_Experience_Report__r.Quarterly_RP__r.CER_Calc_Date__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This particpant&apos;s data will &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;not be&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; included in the calculated rating.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecalcEarly</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IsMostRecentRecord</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>&apos;Extant&apos;</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Extant</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This Interview is attached to {!recordId.Consumer_Experience_Report__r.Service__r.Name}&apos;s most recent CER record and as such the following action will be taken:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Demographic data will be nullified&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Participant responses will be set to withdrawn&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The service&apos;s CER rating and Overall Star Rating will be recalculated for this reporting period&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This particpant&apos;s data will &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;not be&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; included in the recalculated rating.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsMostRecentRecord</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>&apos;Extant&apos;</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RecalcEarly</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Past</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;This Interview is &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;not&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt; attached to {!recordId.Consumer_Experience_Report__r.Service__r.Name}&apos;s most recent CER record and as such the following action will be taken:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Pariticipant&apos;s Demographic data will be nullified&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Participant&apos;s responses will &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;not be &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;withdrawn&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;to retain the service’s histori﻿cal data&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The service&apos;s CER rating will &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;not&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;be&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; recalculated for this reporting period&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The service&apos;s Overall Star Rating will &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;not&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;be&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; recalculated for this reporting period&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsMostRecentRecord</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>&apos;Past&apos;</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>userComment</name>
            <dataType>String</dataType>
            <fieldText>Withdrawal details:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Withdraw Consent</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WithdrawConsent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Comments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This participant&apos;s interview was withdrawn on {!$Flow.CurrentDate} by {!$User.FirstName} {!$User.LastName} and the Service&apos;s ratings {!RecalcOutcome}
Withdrawal details: {!userComment}</text>
    </textTemplates>
    <textTemplates>
        <name>RecordVars</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{&lt;/p&gt;&lt;p&gt;&quot;CERId&quot;: &quot;{!recordId.Consumer_Experience_Report__c}&quot;,&lt;/p&gt;&lt;p&gt;&quot;SRHId&quot;: &quot;{!Get_SRHId.Id}&quot;,&lt;/p&gt;&lt;p&gt;&quot;Domain&quot;: &quot;callCER&quot;&lt;/p&gt;&lt;p&gt;}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SRQI_CEI__c</objectType>
    </variables>
</Flow>
