force-app/main/default/flows/CHSPProcurement_Upsert_Service_records_on_insert_of_CHSP_Procurement_Based_AWP_r.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CHSPProcurement: Upsert Service records on insert of CHSP Service Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHSPProcurement: Upsert Service records on insert of CHSP Procurement Based AWP records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getServiceTypeLevel</name>
        <label>getServiceTypeLevel</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateServiceSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Type_Level__c</elementReference>
            </value>
        </filters>
        <object>Service_Type_Level_to_Care_Sub_Type__mdt</object>
        <outputAssignments>
            <assignToReference>ServiceCareSubType</assignToReference>
            <field>Service_Care_Sub_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateServiceSchedule</name>
        <label>UpdateServiceSchedule</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Service_Care_Sub_Type__c</field>
            <value>
                <elementReference>ServiceCareSubType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getServiceTypeLevel</targetReference>
        </connector>
        <object>CHSP_Procurement_Based_AWP_Record__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceCareSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
