force-app/main/default/flows/E_mail_Reminders_Reporting_Window_Closing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reporting_Open_Email</name>
        <label>Send Reporting Open Email</label>
        <locationX>750</locationX>
        <locationY>1044</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttFiveDaysRemaining</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reporting Open</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Checking if form records were retrieved for the reporting period that is closing</description>
        <name>Check_Report_Submitted</name>
        <label>Check Report Submitted</label>
        <locationX>882</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Report_Not_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_From_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reporting_Open_Email</targetReference>
            </connector>
            <label>Report Not Submitted</label>
        </rules>
    </decisions>
    <description>This flow runs daily to identify reporting windows that are closing in 5 days. If an org hasn&apos;t submitted a report it will send them an email to notify them that a report is required.</description>
    <environments>Default</environments>
    <formulas>
        <name>FiveDaysUntilDue</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 5</expression>
    </formulas>
    <interviewLabel>E-mail Reminders - Reporting Window Closing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-mail Reminders - Reporting Window Closing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>882</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Closing_Reporting_Period.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Closing_Reporting_Period</name>
        <label>Get Closing Reporting Period</label>
        <locationX>882</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_From_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QFR_Reporting_Due_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FiveDaysUntilDue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the appropriate contact details</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>883</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Report_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Relationship.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the associated contact relationship for the account record so that the primary contact can be looked up</description>
        <name>Get_Contact_Relationship</name>
        <label>Get_Contact_Relationship</label>
        <locationX>882</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accounts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0129n000000H5yeAAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get any form records for a particular reporting period</description>
        <name>Get_From_Details</name>
        <label>Get_From_Details</label>
        <locationX>882</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reporting_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Closing_Reporting_Period.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Closing_Reporting_Period</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-29</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>This is the text template for the reporting open email</description>
        <name>ttFiveDaysRemaining</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!Get_Contact.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;RE: Quarterly Financial Report for {!Get_Accounts.Id},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;We are sending this email because the Department of Health and Aged Care has not received a Quarterly Financial Report (QFR) submission for the period ending {!Get_Closing_Reporting_Period.End_Date__c} from the aged care provider you represent. Submissions are due on {!Get_Closing_Reporting_Period.QFR_Reporting_Due_Date__c}  and there is five days remaining to submit. Please submit your QFR to avoid regulatory action.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;The department will soon provide a non-submission list to the Aged Care Quality and Safety Commission. Where a provider fails to meet its reporting obligations, the Commission will consider a range of escalating regulatory actions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Aged Care signature&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
