force-app/main/default/flows/File_Storage_Create_Platform_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_File_Staging_Record_Ids</name>
        <label>Add File Staging Record Ids</label>
        <locationX>468</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>FileStagingRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_the_File_Staging_Record.LinkedEntityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileStorageRecordURI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.dohagedcare__Record_URI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_the_File_Staging_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FileStorageObjectId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a2XB</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_document_have_related_File_Staging_record</name>
        <label>If document have related File Staging record</label>
        <locationX>600</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Find_the_File_Staging_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Staging Record Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>File_Staging_record_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_File_Staging_Record.LinkedEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Get_File_Object_Name.KeyPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_File_Staging_Record_Ids</targetReference>
            </connector>
            <label>File Staging record exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_File_Staging_Record_Variable_is_blank</name>
        <label>If File Staging Record Variable is blank</label>
        <locationX>380</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staging_Record_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_File_Staging_Record_Ids</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Staging_Records</targetReference>
            </connector>
            <label>Staging Record exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>This condition will check if the status of the File Storage is changed from anything to Available</description>
        <name>If_the_File_Storage_Status_changed_to_Available</name>
        <label>If the File Storage Status changed to &quot;Available&quot;</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Storage_Status_Is_Available</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.dohagedcare__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.dohagedcare__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dohagedcare__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Object_Name</targetReference>
            </connector>
            <label>File Storage Status Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_File_Staging_RecordType_is_QI</name>
        <label>If File Staging RecordType is QI</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_type_is_QI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_File_Staging_Records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FileStagingRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_File_Storage_Platform_Events</targetReference>
            </connector>
            <label>Record type is QI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>File {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File Storage - Create Platform Events</label>
    <loops>
        <name>Find_the_File_Staging_Record</name>
        <label>Find the File Staging Record</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_document_have_related_File_Staging_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_File_Staging_Record_Variable_is_blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_File_Storage_Platform_Events</name>
        <label>Create File Storage Platform Events</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Update_File_Staging_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>FileStagingCreatedById__c</field>
            <value>
                <elementReference>Get_File_Staging_Records.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileStagingProviderId__c</field>
            <value>
                <elementReference>Get_File_Staging_Records.Provider__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileStagingRecordId__c</field>
            <value>
                <elementReference>Get_File_Staging_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileStagingReportingCategory__c</field>
            <value>
                <elementReference>Get_File_Staging_Records.Reporting_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileStagingReportingPeriodId__c</field>
            <value>
                <elementReference>Get_File_Staging_Records.Reporting_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileStagingRequestedById__c</field>
            <value>
                <elementReference>Get_File_Staging_Records.Submission_Requested_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileStorageFileName__c</field>
            <value>
                <elementReference>$Record.dohagedcare__File_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FileStorageURI__c</field>
            <value>
                <elementReference>$Record.dohagedcare__Record_URI__c</elementReference>
            </value>
        </inputAssignments>
        <object>FileStoragePE__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This will retrieve the linked File Staging record with the file storage content Id</description>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_the_File_Staging_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dohagedcare__Content_Document_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Object_Name</name>
        <label>Get File Object Name</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FileStagingObjectAPIName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Staging_Record_Type_QI</name>
        <label>Get File Staging Record Type - QI</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_File_Staging_RecordType_is_QI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QI</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File_Staging__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FileStagingRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Staging_Records</name>
        <label>Get File Staging Records</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_File_Staging_Record_Type_QI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FileStagingRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>File_Staging__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will update the the File name, file Storage Id and Status field on the File Staging record.</description>
        <name>Update_File_Staging_Record</name>
        <label>Update File Staging Record</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_File_Staging_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>$Record.dohagedcare__File_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Storage_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready To Publish</stringValue>
            </value>
        </inputAssignments>
        <object>File_Staging__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_the_File_Storage_Status_changed_to_Available</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dohagedcare__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>dohagedcare__Content_Document_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>dohagedcare__Record_URI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>dohagedcare__File_Storage__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FileStagingObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>File_Staging</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileStagingRecord</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileStagingRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileStagingRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileStorageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dohagedcare__File_Storage__c</objectType>
    </variables>
    <variables>
        <name>FileStorageRecordURI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileStorageURI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
