force-app/main/default/flows/GI_Run_After_Save_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddServiceID</name>
        <label>AddServiceID</label>
        <locationX>270</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ServiceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookAllLocation.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookAllLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSPServiceId</name>
        <label>AddSPServiceId</label>
        <locationX>270</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>ServiceHasSP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllServiceFunding.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllServiceFunding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToList</name>
        <label>AddToList</label>
        <locationX>446</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>ANACC_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ANACC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopServiceLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewClassification</name>
        <label>AssignNewClassification</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>ANACC.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopServiceLocation.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ANACC.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ANACC.AN_ACC_Base_Care_Tariff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BCT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ANACC.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Classificate</name>
        <label>Check Classificate</label>
        <locationX>858</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MMM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Layer_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get</targetReference>
            </connector>
            <label>MMM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Residential</name>
        <label>Check Residential</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>LookAllLocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsResidential</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookAllLocation.Service__r.Care_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddServiceID</targetReference>
            </connector>
            <label>IsResidential</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckANACCList</name>
        <label>CheckANACCList</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ANACC_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateANACC</targetReference>
            </connector>
            <label>HasList</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBCT</name>
        <label>CheckBCT</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasBCT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BCT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRT</targetReference>
            </connector>
            <label>HasBCT</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckServiceAddress</name>
        <label>CheckServiceAddress</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasServiceAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookAllLocation</targetReference>
            </connector>
            <label>HasServiceAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckServiceHasSP</name>
        <label>CheckServiceHasSP</label>
        <locationX>358</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>AssignNewClassification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasSpeciationPurpose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceHasSP</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopServiceLocation.Service__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopServiceLocation</targetReference>
            </connector>
            <label>HasSpeciationPurpose</label>
        </rules>
    </decisions>
    <description>This is used to run after Geospatial Information saved and only run when create new Geospatial Information</description>
    <environments>Default</environments>
    <interviewLabel>GI: Run After Save - Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GI: Run After Save - Created</label>
    <loops>
        <name>LookAllLocation</name>
        <label>LookAllLocation</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <collectionReference>GetServiceLocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Residential</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetSpecialPurpose</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAllServiceFunding</name>
        <label>LoopAllServiceFunding</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <collectionReference>GetSpecialPurpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddSPServiceId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopServiceLocation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopServiceLocation</name>
        <label>LoopServiceLocation</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <collectionReference>GetServiceLocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckServiceHasSP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckANACCList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateANACC</name>
        <label>CreateANACC</label>
        <locationX>50</locationX>
        <locationY>2579</locationY>
        <inputReference>ANACC_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>GetBCTNumber</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBCT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Code__c</elementReference>
            </value>
        </filters>
        <object>GPMS_ANACC_Classification__mdt</object>
        <outputAssignments>
            <assignToReference>BCT</assignToReference>
            <field>BCT_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRT</name>
        <label>GetRT</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServiceLocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPMS_Service_Funding__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AN_ACC_Classification_Funding</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetServiceLocation</name>
        <label>GetServiceLocation</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckServiceAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address_Ineffective_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Physical</stringValue>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSpecialPurpose</name>
        <label>GetSpecialPurpose</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllServiceFunding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GPMS_Service_Funding__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Classificate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refresh_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Layer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Geospatial_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ANACC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPMS_Service_Funding__c</objectType>
    </variables>
    <variables>
        <name>ANACC_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPMS_Service_Funding__c</objectType>
    </variables>
    <variables>
        <name>BCT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceHasSP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
