force-app/main/default/flows/GILV_Schedule_Job_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>All_Events</name>
        <label>All Events</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>AllEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_records_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_assign</name>
        <label>get_assign</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>events.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_loop.GPMS_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>events.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_loop.GPMS_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>events.GPMS_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>events.LayerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_loop.GPMS_Layer_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>events.Layer_Version_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>events.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_loop.GPMS_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>events.Layer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_loop.GPMS_Layer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Events</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>GILV: Schedule Job Daily {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GILV: Schedule Job Daily</label>
    <loops>
        <name>get_records_loop</name>
        <label>get_records_loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>get_Geospatial_Information_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateEvent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEvent</name>
        <label>CreateEvent</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>AllEvents</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Geospatial_Information_records</name>
        <label>get_Geospatial_Information_records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_records_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPMS_Refresh_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GPMS_Geospatial_Information_LayerVersion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Geospatial_Information_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GPMS_Refresh_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>GPMS_Geospatial_Information_LayerVersion__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-22</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Refresh__e</objectType>
    </variables>
    <variables>
        <name>assign_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Address_Refresh__e</objectType>
    </variables>
    <variables>
        <name>event_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Address_Refresh__e</objectType>
    </variables>
    <variables>
        <name>events</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Refresh__e</objectType>
    </variables>
    <variables>
        <name>geo_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Geospatial_Information__c</objectType>
    </variables>
    <variables>
        <name>Layer_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GPMS_Geospatial_Information_LayerVersion__ChangeEvent</objectType>
    </variables>
    <variables>
        <name>layer_reecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Geospatial_Information__ChangeEvent</objectType>
    </variables>
</Flow>
