force-app/main/default/flows/Organisation_Switcher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>switchPermission</name>
        <label>switchPermission</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>OrgSwitcher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loading_page</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>acrId</name>
            <value>
                <elementReference>acrId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>choice</name>
        <choiceText>choice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice</stringValue>
        </value>
    </choices>
    <description>Flow to allow a portal (external) user to change which Provider they are working with.</description>
    <dynamicChoiceSets>
        <name>ACRList</name>
        <dataType>String</dataType>
        <displayField>Account_Name__c</displayField>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved_Provider</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benchmarking_Organisation</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>acrId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Account_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Organisation Switcher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Switch organisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SwitchOrgScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Loading_page</name>
        <label>Loading page</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Loadingpage</name>
            <extensionName>c:orgSwitcherLoading</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acrId</name>
                <value>
                    <elementReference>acrId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SwitchOrgScreen</name>
        <label>SwitchOrgScreen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>switchPermission</targetReference>
        </connector>
        <fields>
            <name>Select_an_Organisation</name>
            <choiceReferences>ACRList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose your provider</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Switch</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
