force-app/main/default/flows/PopulateCampusNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Current</name>
        <label>Assign Current</label>
        <locationX>440</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>CurrentAdditionalCampus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_collection.Additional_Campus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>highest_value</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>highest value</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>GetRelatedAddressLocations</collectionReference>
        <connector>
            <targetReference>loop_collection</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Additional_Campus__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>does_value_exist</name>
        <label>does value exist</label>
        <locationX>352</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Assign_Current</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_collection.Additional_Campus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_collection</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <description>Looks at highest campus number on services related address locations and increments by one.</description>
    <environments>Default</environments>
    <formulas>
        <name>AdditionalCampusPlus1</name>
        <dataType>Number</dataType>
        <expression>{!CurrentAdditionalCampus}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PopulateCampusNumber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PopulateCampusNumber</label>
    <loops>
        <name>loop_collection</name>
        <label>loop collection</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>GetRelatedAddressLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>does_value_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetAddressLocationValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedAddressLocations</name>
        <label>GetRelatedAddressLocations</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>highest_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address_Location__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Additional_Campus__c</queriedFields>
        <sortField>Additional_Campus__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>sets the campus number of the address location record</description>
        <name>SetAddressLocationValues</name>
        <label>SetAddressLocationValues</label>
        <locationX>176</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>Additional_Campus__c</field>
            <value>
                <elementReference>AdditionalCampusPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedAddressLocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Additional Campus</stringValue>
            </value>
        </filters>
        <object>Address_Location__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentAdditionalCampus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
