force-app/main/default/flows/Provider_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>PoroCode</name>
        <label>PoroCode</label>
        <locationX>1073</locationX>
        <locationY>1856</locationY>
        <actionName>GPMSCodeGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkCodeGenerated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>length</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_PoRO_Code</name>
        <label>Send PoRO Code</label>
        <locationX>1254</locationX>
        <locationY>2288</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Record_Notification_in_emailMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendPoROCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Org_wide_email.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Government Provider Management System portal verification code [SEC = OFFICIAL]</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Permissions</name>
        <label>Set Permissions</label>
        <locationX>924</locationX>
        <locationY>3344</locationY>
        <actionName>OrgSwitcher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_LoadingScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>acrId</name>
            <value>
                <elementReference>Get_Account_Contact_Relationship.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>update_permissions</name>
        <label>update permissions</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>OrgSwitcher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoadingScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>acrId</name>
            <value>
                <elementReference>acrId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ValidateABN</name>
        <label>ValidateABN</label>
        <locationX>864</locationX>
        <locationY>998</locationY>
        <actionName>GPMSValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckABN</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>abnNumber</name>
            <value>
                <elementReference>ABNToText</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_active_acrId</name>
        <label>Assign active acrId</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>acrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_active_ACRs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_has_a_current_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_currect_acrId</name>
        <label>assign currect acrId</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>acrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Contact_Relationship.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_has_a_current_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ABN_Check</name>
        <label>ABN Check</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>PoroCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_ABN_Account.ABN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABN_Exists</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_ACR_exists</name>
        <label>Check Active ACR exists</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>assign_currect_acrId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>acrExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_active_ACRs.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_active_acrId</targetReference>
            </connector>
            <label>acrExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_ACR_exists_FTL</name>
        <label>Check Active ACR exists FTL</label>
        <locationX>1885</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_ACR_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>acrExistsFTL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T_Cs</targetReference>
            </connector>
            <label>acrExistsFTL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_has_a_current_Account</name>
        <label>Check has a current Account</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>No_ACR_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>acrId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_permissions</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_update_required</name>
        <label>check update required</label>
        <locationX>1056</locationX>
        <locationY>2720</locationY>
        <defaultConnector>
            <targetReference>UpdateFTLS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateABN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contact.GPMS_PortalRegistrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ABN</targetReference>
            </connector>
            <label>updateABN</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckABN</name>
        <label>CheckABN</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Invalid_ABN_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateABN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ok</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ABN_Account</targetReference>
            </connector>
            <label>isOk</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckACRExist</name>
        <label>CheckACRExist</label>
        <locationX>1056</locationX>
        <locationY>3236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permissions</targetReference>
            </connector>
            <label>exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCodeGenerated</name>
        <label>checkCodeGenerated</label>
        <locationX>1073</locationX>
        <locationY>1964</locationY>
        <defaultConnector>
            <targetReference>checkEmailExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PoroCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>isError</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmailExists</name>
        <label>checkEmailExists</label>
        <locationX>1485</locationX>
        <locationY>2072</locationY>
        <defaultConnector>
            <targetReference>Email_Does_not_Exits_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_wide_email</targetReference>
            </connector>
            <label>exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFTLS</name>
        <label>CheckFTLS</label>
        <locationX>1033</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_Active_ACR_exists_FTL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FTLSCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.GPMS_FTLS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_active_ACRs</targetReference>
            </connector>
            <label>FTLSCompleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkT_Cs</name>
        <label>checkT&amp;Cs</label>
        <locationX>1526</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>TCNotAccepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_agree_to_the_terms_and_conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isInvitedUser</targetReference>
            </connector>
            <label>Agreed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Code_Valid</name>
        <label>Code Valid?</label>
        <locationX>1254</locationX>
        <locationY>2612</locationY>
        <defaultConnector>
            <targetReference>CodeNotMatchScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_Verification_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PoroCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_update_required</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>isInvitedUser</name>
        <label>isInvitedUser</label>
        <locationX>1073</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>PoroCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notInvited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contact.GPMS_PortalRegistrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration</targetReference>
            </connector>
            <label>not Invited</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ABNToText</name>
        <dataType>String</dataType>
        <expression>text({!ABN})</expression>
    </formulas>
    <interviewLabel>GPMS Self Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provider Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Flow emails aren&apos;t recorded, so we write to emailMessage to keep a user-visible record.</description>
        <name>Record_Notification_in_emailMessage</name>
        <label>Record Notification in emailMessage</label>
        <locationX>1254</locationX>
        <locationY>2396</locationY>
        <connector>
            <targetReference>Verification_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>noreply@health.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>noreply@health.gov.au</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>NotificationVersionofSendPoROCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>get_Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Government Provider Management System portal verification code [SEC = OFFICIAL]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_ABN_Account</name>
        <label>Find ABN Account</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ABN_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ABN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ABNToText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>ABN__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contact_Relationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>1033</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckFTLS</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved_Provider</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aged_Care_Organisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benchmarking_Organisation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_active_ACRs</name>
        <label>Get active ACRs</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_ACR_exists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 6 ) AND 5</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved_Provider</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aged_Care_Organisation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benchmarking_Organisation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contact</name>
        <label>get Contact</label>
        <locationX>1033</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Org_wide_email</name>
        <label>Org wide email</label>
        <locationX>1254</locationX>
        <locationY>2180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_PoRO_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Org_Wide_Email__c.Display_name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ABN</name>
        <label>Update ABN</label>
        <locationX>924</locationX>
        <locationY>2828</locationY>
        <connector>
            <targetReference>UpdateFTLS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>ABNToText</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>1056</locationX>
        <locationY>3128</locationY>
        <connector>
            <targetReference>CheckACRExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GPMS_Self_registration_code__c</field>
            <value>
                <elementReference>PoroCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Registration_Status__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFTLS</name>
        <label>UpdateFTLS</label>
        <locationX>1056</locationX>
        <locationY>3020</locationY>
        <connector>
            <targetReference>Update_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GPMS_FTLS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ABN_Exists</name>
        <label>ABN Exists</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>T_Cs</targetReference>
        </connector>
        <fields>
            <name>Admin_Talk</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;ABN Exists. Talk to your Organisation Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CodeNotMatchScreen</name>
        <label>CodeNotMatchScreen</label>
        <locationX>1452</locationX>
        <locationY>2720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>T_Cs</targetReference>
        </connector>
        <fields>
            <name>WrongCodeMessage</name>
            <fieldText>&lt;p&gt;The code you entered is not correct&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_LoadingScreen</name>
        <label>Copy 1 of LoadingScreen</label>
        <locationX>924</locationX>
        <locationY>3452</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Loading</name>
            <extensionName>c:orgSwitcherLoading</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acrId</name>
                <value>
                    <elementReference>Get_Account_Contact_Relationship.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loginFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Does_not_Exits_Screen</name>
        <label>Email Does not Exits Screen</label>
        <locationX>1716</locationX>
        <locationY>2180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>checkEmailExists</targetReference>
        </connector>
        <fields>
            <name>MissingEmail</name>
            <fieldText>&lt;p&gt;Failed to find an email for this user. Please contact your Organization Administrator. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>660</locationX>
        <locationY>2072</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>T_Cs</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;We could not process you request, please try again later&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_ABN_error_screen</name>
        <label>Invalid ABN error screen</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Registration</targetReference>
        </connector>
        <fields>
            <name>invalidABNError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;ABN Entered is invalid.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LoadingScreen</name>
        <label>LoadingScreen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Loading</name>
            <extensionName>c:orgSwitcherLoading</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acrId</name>
                <value>
                    <elementReference>acrId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loginFlow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_ACR_page</name>
        <label>No ACR page</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CheckFTLS</targetReference>
        </connector>
        <fields>
            <name>acrDoesNotExistMessage</name>
            <fieldText>&lt;p&gt;You have no current accounts to login to. Please contact your organisation administrator for further assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>864</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ValidateABN</targetReference>
        </connector>
        <fields>
            <name>ABN</name>
            <dataType>Number</dataType>
            <fieldText>Enter ABN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>T_Cs</name>
        <label>T&amp;Cs</label>
        <locationX>1526</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkT_Cs</targetReference>
        </connector>
        <fields>
            <name>TermsandConditions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Government Provider Management System Terms of Use&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!TermsandConditionsLink}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_agree_to_the_terms_and_conditions</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you agree to terms of use?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TCNotAccepted</name>
        <label>TCNotAccepted</label>
        <locationX>1980</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>T_Cs</targetReference>
        </connector>
        <fields>
            <name>TCNotAcceptedMessage</name>
            <fieldText>&lt;p&gt;You will not be able to access the Portal if you do not agree to the GPMS Terms of Use.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Page</name>
        <label>Verification Page</label>
        <locationX>1254</locationX>
        <locationY>2504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Code_Valid</targetReference>
        </connector>
        <fields>
            <name>Enter_Verification_Code</name>
            <dataType>String</dataType>
            <fieldText>Enter Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>907</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Used in saving a record of the sent email (as SF doesn&apos;t when sent from flows).  Same content but without the PoRO Code, because that code is only meaningful within the flow and shouldn&apos;t be shared with users.</description>
        <name>NotificationVersionofSendPoROCode</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;{!$Label.Email_Header_Logo_Link}&quot; alt=&quot;ACS_email_header.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!get_Contact.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please use the code below to progress your authentication on the Government Provider Management System portal.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;The PoRO Code was included here in the copy of this email sent to &lt;/strong&gt;&lt;strong style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!get_Contact.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Sincerely, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Government Provider Management System team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-family: sans-serif; font-size: 11px; color: rgb(51, 0, 153);&quot;&gt;We acknowledge the Traditional Custodians of the lands we live on. We pay our respects to all Elders, past and present, of all Aboriginal and Torres Strait Islander nations.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-family: sans-serif; font-size: 11px; color: rgb(51, 0, 153);&quot;&gt;﻿&lt;/em&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 11px; color: rgb(51, 0, 153);&quot;&gt;THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px; color: rgb(51, 51, 51);&quot;&gt;IMPORTANT: This email is for the use of the intended recipient only and may contain information that is confidential, commercially valuable and/or subject to legal or parliamentary privilege. If you are not the intended recipient you are notified that any review, re-transmission, disclosure, dissemination or other use of, or taking of any action in reliance upon, this information is prohibited and may result in severe penalties. If you have received this email in error please notify the sender by contacting the &lt;/span&gt;&lt;a href=&quot;https://www.health.gov.au/our-work/my-aged-care/using-my-aged-care/my-aged-care-for-service-providers#help-using-the-portal&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 10px; color: rgb(51, 51, 51);&quot;&gt;help desk&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10px; color: rgb(51, 51, 51);&quot;&gt; and delete all electronic and hard copies of this transmission together with any attachments. Please consider the environment before printing this email.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendPoROCode</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;{!$Label.Email_Header_Logo_Link}&quot; alt=&quot;ACS_email_header.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!get_Contact.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please see the code below to progress your authentication on the Government Provider Management System portal.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;{!PoroCode}&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Sincerely, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Government Provider Management System portal team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(51, 0, 153); font-size: 11px; font-family: sans-serif;&quot;&gt;We acknowledge the Traditional Custodians of the lands we live on. We pay our respects to all Elders, past and present, of all Aboriginal and Torres Strait Islander nations.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(51, 0, 153); font-size: 11px; font-family: sans-serif;&quot;&gt;﻿&lt;/em&gt;&lt;span style=&quot;color: rgb(51, 0, 153); font-size: 11px; font-family: sans-serif;&quot;&gt;THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 10px; font-family: sans-serif;&quot;&gt;IMPORTANT: This email is for the use of the intended recipient only and may contain information that is confidential, commercially valuable and/or subject to legal or parliamentary privilege. If you are not the intended recipient you are notified that any review, re-transmission, disclosure, dissemination or other use of, or taking of any action in reliance upon, this information is prohibited and may result in severe penalties. If you have received this email in error please notify the sender by contacting the &lt;/span&gt;&lt;a href=&quot;https://www.health.gov.au/our-work/my-aged-care/using-my-aged-care/my-aged-care-for-service-providers#help-using-the-portal&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(51, 51, 51); font-size: 10px; font-family: sans-serif;&quot;&gt;help desk&lt;/a&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 10px; font-family: sans-serif;&quot;&gt; and delete all electronic and hard copies of this transmission together with any attachments. Please consider the environment before printing this email.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TermsandConditionsLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Click &lt;a href=&quot;https://www.health.gov.au/resources/publications/government-provider-management-system-terms-of-use&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;&lt;strong&gt;here&lt;/strong&gt;﻿&lt;/a&gt; to view terms of use&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TermsAndConditionsText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;1. My Aged Care and Government Provider Management System Terms of Use&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Welcome to the My Aged Care and Government Provider Management System website (Website) which is presented by the Australian Government Department of Health and Aged Care Terms of use(the Department) for the purpose of disseminating information and resources on aged care free of charge for the benefit of the Australian public. The Website is hosted and managed by Liquid Pty Ltd (Liquid) on behalf of the Department.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;The My Aged Care and Government Provider Management System Portals (Portals) include the Assessor Portal, Service Provider Portal and Online Account (Client Portal). The Portals are components of My Aged Care and Government Provider Management System which allow assessors, providers and clients access to secure information and workflow functionality for authorised participants.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;These Terms of Use apply to the use of the Website and Portals, the content of the Website and Portals, and any material accessed through the Website and Portals. In these Terms of Use, the terms &quot;you&quot; and &quot;your&quot; refer to the user or viewer of the Website and Portals or the user of information contained in the Website and Portals, and the term &apos;Information on the Website&apos; refers to information contained in, or materials on, the Website.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;2. Deemed acceptance&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;By accessing or using this Website or the Portals, you are deemed to accept these Terms of Use which, together with our Privacy Policy (see &quot;Privacy Policy&quot; link in the footer of this Website), govern the Department&apos;s (and Liquid&apos;s) relationship with you in relation to this Website and the Portals. The Department may change the content of this Website, Portals and these Terms of Use at its discretion and without notice. By continuing to use the Website and the Portals, you accept the Terms of Use as they apply from time to time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Your use of this Website or the Portals and any dispute arising out of such use is subject to the laws of the Australian Capital Territory.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;3. Emergencies&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;This Website is not intended for use in emergency situations. If you are suffering an acute illness or emergency condition, please call&amp;nbsp;000.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;4. Disclaimers&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;While the Department has exercised due care in ensuring that the Information on the Website is accurate and informative, the Information on the Website does not take the place of professional or medical advice.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Do not use the Information on the Website:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;to diagnose, treat, cure or prevent any disease&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;for therapeutic purposes&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;as a substitute for the advice of a health professional.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;We do not accept any liability for any injury, loss or damage caused by use of the Information on the Website.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Information on the Website related to any eligibility or assessment of eligibility for aged care support or services and related financial or legal support is provided for your reference only and should not be relied upon as a final determination or assessment of any eligibility for such services or support. Those sections of the Website, and any assessment for eligibility for aged care services or support, remain subject to the provisions of the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Aged Care Act 1997 (Cth)&lt;/em&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;&amp;nbsp;and any related or subordinate legislation, as amended from time to time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;The Information on the Website may include the views or recommendations of third parties and does not necessarily reflect the views of the Department or indicate a commitment to a particular course of action.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(13, 34, 71);&quot;&gt;4.1 Quality of information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;The Department has exercised due care in providing quality information on this Website. However, we do not provide any guarantees, and assume no legal liability or responsibility for the accuracy, currency, completeness or relevance of the Information on the Website.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;You should carefully evaluate the accuracy, currency, completeness and relevance of the Information on the Website for your purposes, and you should obtain appropriate professional advice relevant to your particular circumstances.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;In particular, information returned using the &apos;Find a provider&apos; tool about the availability, cost and types of services offered by an aged care provider, including any particular specialisation or ability to deliver services to people with diverse backgrounds and life experiences, is supplied by the aged care provider. The Department does not provide any guarantees, and assumes no legal liability or responsibility for the accuracy, currency, completeness or relevance of the Information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(13, 34, 71);&quot;&gt;4.2 Disclaimer of liability&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;You acknowledge that your use of any Information on the Website is entirely at your own risk and that the Information on the Website may contain inaccuracies or errors. Neither the Department nor Liquid accepts any liability for any injury, loss or damage incurred by use of or reliance on the Website or the Information on the Website, including, but not limited to:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;use of the Website or the Information on the Website for a purpose for which it was not intended&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;any errors or omissions in the Website or the Information on the Website&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;any inaccuracy in the Website or the Information on the Website&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;any interpretations or opinions stated in, or which may be inferred from, the Website or the Information on the Website.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(13, 34, 71);&quot;&gt;4.3 Links to other websites&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;This Website contains links to other websites and a &quot;Find a provider&quot; search function, which provides links to, and details of, specific aged care service providers. These links and details are provided for your convenience only.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Linked websites do not necessarily reflect:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;the views of the Department or those of the Australian Government&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;our commitment to a particular course of action&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;We are careful in selecting the websites we link to, but we are not responsible for and do not necessarily endorse the linked websites or any service provider, organisation, association, entity, program, information, products or services referred to, or offered on, the linked websites. You need to make your own decisions about the accuracy, currency, and reliability of information in linked websites.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;It is your responsibility to make your own decisions about your selection of an aged care service provider, and you should do so in consultation with appropriate professional advice.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;5. Copyright Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;© Commonwealth of Australia 2013-2021&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;The content on this website is copyright.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Except where otherwise indicated, you may download, display, print and reproduce the whole or part of the Information on the Website in unaltered form for:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;your own personal use; or&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;internal use within your organisation,&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;but only if you or your organisation:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;do not use the reproduction (in whole or in part) for any commercial purpose; and&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;retain this copyright notice and all disclaimer notices as part of that reproduction.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;You are not permitted to download, display, print and reproduce:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;any photographic images on this Website; or&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;the Commonwealth Coat of Arms.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Apart from any use permitted by the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Copyright Act 1968&lt;/em&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;&amp;nbsp;(Cth)&amp;nbsp;or allowed by this copyright notice, all other rights are reserved.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Requests and inquiries concerning reproduction rights are to be sent to the Communications Branch, Department of Health&amp;nbsp;and Aged Care, GPO Box 9848, Canberra ACT 2601, or&amp;nbsp;to&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:copyright@health.gov.au&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(30, 67, 135);&quot;&gt;copyright@health.gov.au&lt;/a&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(13, 34, 71);&quot;&gt;5.1 Commercial and other use&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;You may not use the Website or the Portals to sell a product or service, or to increase traffic to another website for commercial reasons, such as advertising sales.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(13, 34, 71);&quot;&gt;5.2 Linking to the Website&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;You may link to the Website, but permission is restricted to making a link without any alteration of the Website&apos;s contents. Permission is not granted to reproduce, frame or reformat the files, pages, images, information and materials from the Website or on any other Australian Government or Department website unless express written permission has been obtained from the Department.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;In no event are you permitted to use this Website to sell a product or service, or to increase traffic to your website for commercial reasons, such as advertising sales. The Department reserves the right to prevent linking to this Website at any time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;6. Trademarks&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;This Website contains trademarks owned by the Australian Government, Liquid and third parties. You may not display or use in any manner any trademarks featured on the Website without the prior written permission of the trademark owner.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;7. Security&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;The Department applies a range of security controls to protect this Website and the Portals from unauthorised access. However, you should be aware that the internet is an unsecure public network and there are risks that your information and transactions may be intercepted, viewed, corrupted or modified by third parties. In addition, files obtained from or through this Website and Portals may contain computer viruses, disabling codes, worms or other devices or defects.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;You bear the risks and responsibility for any loss or damage caused, directly or indirectly, by these risks, and the Department and Liquid accept no liability for any interference with, or damage to your computer system, software or data occurring in connection with this Website or the Portals. You are encouraged to take appropriate and adequate precautions to ensure that whatever is selected from this Website and Portals is free of viruses or other contamination that may interfere with or damage your computer system, software or data.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;You may be subject to a number of obligations with respect to the handling of information. Where relevant, this includes obligations under the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Privacy Act 1988,&lt;/em&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;&amp;nbsp;the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Aged Care Act 1997&lt;/em&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;&amp;nbsp;and the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;User Rights Principles 2014.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Further conditions which apply to your use of the Portals, include that you must not, without the expressed approval of the Department:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;tamper with other user accounts, or commit unauthorised intrusion into any part of the Portals;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;attempt to bypass any security controls, disable a host, or use the Portals without authorisation&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;use any automated tools, scripts, processes, robots, data scraping or data mining tools on the Website or Portals; or&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;disrupt or impair the functionality or performance of the Website or Portals.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;We may routinely log, monitor and analyse usage of the Website and Portals for any misuse, or attempted or actual security breaches.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;8. Accessibility&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Providing access to information for all users, including those with disability, is really important to us. The Website aims to meet the World Wide Web Consortium’s Web Content Accessibility Guidelines Version 2.0 (WCAG 2.0) web standards, endorsed by the Australian Government. If there is information on the Website that is in a format you cannot access or if you experience any other accessibility difficulties, please contact My Aged Care and Government Provider Management System on&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;tel:1800%20200%20422&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(30, 67, 135);&quot;&gt;1800 200 422&lt;/a&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;9. Responsibilities&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;It is important to understand your responsibilities when using the Website and Portals. You may be subject to a number of obligations with respect to the handling of information. Where relevant, this includes obligations under the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Privacy Act 1988&lt;/em&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;, the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;Aged Care Act 1997&lt;/em&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;&amp;nbsp;and the&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;User Rights Principles 2014&lt;/em&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif; color: rgb(40, 40, 40);&quot;&gt;. Unless authorised by the Department with written permission, you must not:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;use any automated tools, scripts, processes, robots, data scraping or data mining tools on the Website or Portals; or&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10px; font-family: Arial, sans-serif;&quot;&gt;disrupt or impair the functionality or performance of the Website or Portals.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>acrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appeovedProviderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDuplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>personAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>Verification_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
