force-app/main/default/flows/QFR_Update_QA_Outcome_Summary_On_Case_With_Reasonableness_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_to_result</name>
        <label>add to result</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>QAOutcomeSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QAOutcomeTemplateForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifResiLabour</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddReasonableness</name>
        <label>AddReasonableness</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>QAOutcomeSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReasonablenessCheckInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_QA_Outcome_Summary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ifResiLabour</name>
        <label>ifResiLabour</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Add_to_QA_Outcome_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesResi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_to_QA_Outcome_Summary.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential Labour Costs and Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddReasonableness</targetReference>
            </connector>
            <label>YesResi</label>
        </rules>
    </decisions>
    <description>Added reasonableness check field values</description>
    <environments>Default</environments>
    <interviewLabel>QFR - Update QA Outcome Summary On Case With Reasonableness Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR - Update QA Outcome Summary On Case With Reasonableness Info</label>
    <loops>
        <name>Add_to_QA_Outcome_Summary</name>
        <label>Add to QA Outcome Summary</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Forms_from_parent_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_to_result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_case_QA_summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Forms_from_parent_Case</name>
        <label>Get Forms from parent Case</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_QA_Outcome_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case_QA_summary</name>
        <label>update case QA summary</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome_Summary__c</field>
            <value>
                <elementReference>QAOutcomeSummary</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Forms_from_parent_Case</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>QA_Outcome__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QA_Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reasonableness_Check_Outcome__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reasonableness_Check_Reason__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QAOutcomeTemplateForm</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Form: &lt;/strong&gt;{!Add_to_QA_Outcome_Summary.Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;QA Outcome: &lt;/strong&gt;{!Add_to_QA_Outcome_Summary.QA_Outcome__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;QA Comments: &lt;/strong&gt;{!Add_to_QA_Outcome_Summary.QA_Comments__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReasonablenessCheckInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Reasonableness Outcome:&lt;/strong&gt;&amp;nbsp;{!Add_to_QA_Outcome_Summary.Reasonableness_Check_Outcome__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reasonableness Check Reason: &lt;/strong&gt;{!Add_to_QA_Outcome_Summary.Reasonableness_Check_Reason__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>QAOutcomeSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
