force-app/main/default/flows/QFR_Update_QA_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Accepted</name>
        <label>Accepted</label>
        <locationX>1235</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>Form_Level_QA_Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approve_1</name>
        <label>Approve</label>
        <locationX>946</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>CountApprove</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Form_Level_QA</name>
        <label>Blank Form Level QA</label>
        <locationX>1311</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>Form_Level_QA_Outcome</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updateForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_QA_Outcome</name>
        <label>Blank QA Outcome</label>
        <locationX>876</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>CountBlankQA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>More_Information_Required_1</name>
        <label>More Information Required</label>
        <locationX>1239</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>Form_Level_QA_Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>More information required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReIssue</name>
        <label>ReIssue</label>
        <locationX>1253</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>Form_Level_QA_Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reject_1</name>
        <label>Reject</label>
        <locationX>755</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>RejectCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Review_1</name>
        <label>Review</label>
        <locationX>684</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>ReviewCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Form_Level_QA_Outcome</name>
        <label>Check Form Level QA Outcome</label>
        <locationX>1045</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Blank_Form_Level_QA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reject_Counter_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RejectCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReviewCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReIssue</targetReference>
            </connector>
            <label>Reject&gt;0 and Review=0</label>
        </rules>
        <rules>
            <name>Review_Counter_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReviewCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_Information_Required_1</targetReference>
            </connector>
            <label>Review &gt; 0</label>
        </rules>
        <rules>
            <name>Review_0_and_Reject_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RejectCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReviewCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountApprove</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountBlankQA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accepted</targetReference>
            </connector>
            <label>Review=0 and Reject =0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_QA_Outcome</name>
        <label>Check QA Outcome</label>
        <locationX>799</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>Blank_QA_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_responses.QA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_1</targetReference>
            </connector>
            <label>Check Review</label>
        </rules>
        <rules>
            <name>Check_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_responses.QA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_1</targetReference>
            </connector>
            <label>Check Reject</label>
        </rules>
        <rules>
            <name>Check_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_responses.QA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_1</targetReference>
            </connector>
            <label>Check Approve</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the running user is a QA Assessor.</description>
        <name>Running_User_Check</name>
        <label>Running User Check</label>
        <locationX>808</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PowerCustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Responses</targetReference>
            </connector>
            <label>Run Flow</label>
        </rules>
    </decisions>
    <description>QA Outcome at Response__c level = &apos;Reject&apos; update the Form__c level QA Outcome to Re Issue if none of the other responses have a QA Outcome = Review</description>
    <environments>Default</environments>
    <interviewLabel>QFR - Update QA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR - Update QA Comment on Form</label>
    <loops>
        <name>Loop_through_responses</name>
        <label>Loop through responses</label>
        <locationX>791</locationX>
        <locationY>557</locationY>
        <collectionReference>Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_QA_Outcome</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Form_Level_QA_Outcome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Responses</name>
        <label>Get All Responses</label>
        <locationX>813</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>Responses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QA_Comments__c</queriedFields>
        <queriedFields>QA__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateForm</name>
        <label>updateForm</label>
        <locationX>1388</locationX>
        <locationY>553</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome__c</field>
            <value>
                <elementReference>Form_Level_QA_Outcome</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <start>
        <locationX>383</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Running_User_Check</targetReference>
        </connector>
        <object>Response__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>More_Information_Required</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;More Information Required&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountApprove</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountBlankQA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Form_Level_QA_Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Responses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <name>ReviewCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
