force-app/main/default/flows/QFR_Viability_Responses_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>264</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NumberYesResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseID</name>
        <label>Assign CaseID</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>CaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form__r.Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectResponses</name>
        <label>CollectResponses</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResponsesCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Forms</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>QFR Viability Responses Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR Viability Responses Count</label>
    <loops>
        <name>Loop_through_Responses</name>
        <label>Loop through Responses</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Number_of_Responses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Forms</name>
        <label>Loop thru Forms</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Forms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Get_Related_Responses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Responses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Related_Responses</name>
        <label>Copy 1 of Get Related Responses</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectResponses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response_Options__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_thru_Forms.Id</elementReference>
            </value>
        </filters>
        <object>Response__c</object>
        <outputReference>ResponsesCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Form__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Forms</name>
        <label>Get Forms</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Forms</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Viability and Prudential Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care Viability and Prudential Reporting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>If there is Yes reponses</description>
        <name>Update_Case_Number_of_Responses</name>
        <label>Update Case Number of Responses</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__r.Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Yes_Responses__c</field>
            <value>
                <elementReference>NumberYesResponses</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_CaseID</targetReference>
        </connector>
        <object>Response__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberYesResponses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Responses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Response__c</objectType>
    </variables>
    <variables>
        <name>ResponsesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Response__c</objectType>
    </variables>
</Flow>
