force-app/main/default/flows/QFR_Resubmitted_Case_Update_RC_Outcome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>UpdateSLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Service_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Service_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RC_fields_null</name>
        <label>RC fields null</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>All_Service_Line_Items.Reasonableness_Check_Outcome__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Service_Line_Items.Reasonableness_Check_Outcome_comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Service_Line_Items.Reasonableness_Check__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RC_field_populated</name>
        <label>RC field populated</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>All_Service_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>All_Service_Line_Items.Reasonableness_Check_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RC_fields_null</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <description>When Case is Resubmitted, Update RC field for each Service Line item to Null</description>
    <environments>Default</environments>
    <interviewLabel>QFR Resubmitted Case Update RC Outcome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR Resubmitted Case Update RC Outcome</label>
    <loops>
        <name>All_Service_Line_Items</name>
        <label>All Service Line Items</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>ServiceLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RC_field_populated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SLI_RC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get related Residential Labour Costs and Hours form</description>
        <name>Get_Resi_Labour_Cost_Hours_Form</name>
        <label>Get Resi Labour Cost Hours Form</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Labour Costs and Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Line_Items</name>
        <label>Get Service Line Items</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Service_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resi_Labour_Cost_Hours_Form.Id</elementReference>
            </value>
        </filters>
        <object>Service_Line_Item__c</object>
        <outputReference>ServiceLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Reasonableness_Check__c</queriedFields>
        <queriedFields>Reasonableness_Check_Outcome__c</queriedFields>
        <queriedFields>Reasonableness_Check_Outcome_comments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLI_RC</name>
        <label>Update SLI RC</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>UpdateSLI</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resi_Labour_Cost_Hours_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Re-Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>UpdateSLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Line_Item__c</objectType>
    </variables>
</Flow>
