force-app/main/default/flows/QFR_ReportingPeriod_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>scheduleCaseLockJob</name>
        <label>scheduleCaseLockJob</label>
        <locationX>663</locationX>
        <locationY>479</locationY>
        <actionName>QFRLockInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lockDate</name>
            <value>
                <elementReference>$Record.QFR_Lock_Date__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>IsNewReportingPeriod</name>
        <label>IsNewReportingPeriod</label>
        <locationX>663</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Period_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QFR_Lock_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLockDates</targetReference>
            </connector>
            <label>ifNew</label>
        </rules>
        <rules>
            <name>lockDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLockDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QFR_Lock_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scheduleCaseLockJob</targetReference>
            </connector>
            <label>lockDateChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Quarter</name>
        <label>Which Quarter?</label>
        <locationX>1017</locationX>
        <locationY>669</locationY>
        <defaultConnector>
            <targetReference>GetLockDates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachLockDate.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Period__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Quarter 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Q1_Lock_Date</targetReference>
            </connector>
            <label>Q1</label>
        </rules>
        <rules>
            <name>Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachLockDate.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Period__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Quarter 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Q2_Lock_Date</targetReference>
            </connector>
            <label>Q2</label>
        </rules>
        <rules>
            <name>Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachLockDate.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Period__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Quarter 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Q3_Lock_Date</targetReference>
            </connector>
            <label>Q3</label>
        </rules>
        <rules>
            <name>Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForEachLockDate.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Period__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Quarter 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Q4_Lock_Date</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isLockDateChanged</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISCHANGED( {!$Record.QFR_Lock_Date__c}), 
NOT(ISBLANK(PRIORVALUE({!$Record.QFR_Lock_Date__c})))
)</expression>
    </formulas>
    <formulas>
        <name>isNewRP</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Q1LockDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.End_Date__c}),  VALUE(LEFT( {!ForEachLockDate.LockDate__c}, 2)) ,VALUE(RIGHT( {!ForEachLockDate.LockDate__c}, 2)))</expression>
    </formulas>
    <formulas>
        <name>Q2LockDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.End_Date__c})+1,  VALUE(LEFT( {!ForEachLockDate.LockDate__c}, 2)) ,VALUE(RIGHT( {!ForEachLockDate.LockDate__c}, 2)))</expression>
    </formulas>
    <interviewLabel>QFR ReportingPeriod Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR ReportingPeriod Update</label>
    <loops>
        <name>ForEachLockDate</name>
        <label>ForEachLockDate</label>
        <locationX>399</locationX>
        <locationY>587</locationY>
        <collectionReference>GetLockDates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Quarter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLockDates</name>
        <label>GetLockDates</label>
        <locationX>399</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachLockDate</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QFR_Due_Date__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Q1_Lock_Date</name>
        <label>Set Q1 Lock Date</label>
        <locationX>487</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>QFR_Lock_Date__c</field>
            <value>
                <elementReference>Q1LockDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Q2_Lock_Date</name>
        <label>Set Q2 Lock Date</label>
        <locationX>831</locationX>
        <locationY>912</locationY>
        <inputAssignments>
            <field>QFR_Lock_Date__c</field>
            <value>
                <elementReference>Q2LockDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Q3_Lock_Date</name>
        <label>Set Q3 Lock Date</label>
        <locationX>1015</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>QFR_Lock_Date__c</field>
            <value>
                <elementReference>Q1LockDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Q4_Lock_Date</name>
        <label>Set Q4 Lock Date</label>
        <locationX>1280</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>QFR_Lock_Date__c</field>
            <value>
                <elementReference>Q1LockDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>537</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsNewReportingPeriod</targetReference>
        </connector>
        <object>Reporting_Period__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
