force-app/main/default/flows/QFR_Declaration_incomplete_reason.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check</name>
        <label>checkDecIncompleteReason</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>updateExternalQAComments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contains_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Declaration_Incomplete_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOtherQA</targetReference>
            </connector>
            <label>contains Other</label>
        </rules>
    </decisions>
    <description>PBI 299814</description>
    <environments>Default</environments>
    <formulas>
        <name>QACommentswithOther</name>
        <dataType>String</dataType>
        <expression>{!reasonDecFormIncomplete} &amp;&quot;;&quot;&amp; {!$Record.Other__c}</expression>
    </formulas>
    <interviewLabel>QFR Declaration incomplete reason {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR Declaration incomplete reason</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateExternalQAComments</name>
        <label>updateExternalQAComments</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>QA_Comments__c</field>
            <value>
                <elementReference>$Record.Declaration_Incomplete_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOtherQA</name>
        <label>updateOtherQA</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>QA_Comments__c</field>
            <value>
                <elementReference>QACommentswithOther</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declaration and Submission</stringValue>
            </value>
        </filters>
        <filters>
            <field>Declaration_Incomplete_Reason__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Form__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>reasonDecFormIncomplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Declaration_Incomplete_Reason__c</elementReference>
        </value>
    </variables>
</Flow>
