force-app/main/default/flows/QFR_Update_QA_Assessment_Status_On_Case_from_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count_Forms</name>
        <label>Count Forms</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>countNonAcceptedForms</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_QA_Non_Accepted_Forms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
			>Forms_Where_QA_Outcome_not_Accepted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Are there forms that aren&apos;t accepted</description>
        <name>Forms_Where_QA_Outcome_not_Accepted</name>
        <label>Forms Where QA Outcome not Accepted?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Case_QA_Status_to_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some not Accepted</defaultConnectorLabel>
        <rules>
            <name>All_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countNonAcceptedForms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
				>Set_Case_QA_Status_to_Finalised</targetReference>
            </connector>
            <label>All Accepted</label>
        </rules>
    </decisions>
    <description
	>This flow will update QA Assessment Status on the Case from the Form Records.</description>
    <environments>Default</environments>
    <interviewLabel
	>QFR - Update QA Assessment Status On Case from Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR - Update QA Assessment Status On Case from Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_QA_Non_Accepted_Forms</name>
        <label>Get QA Non-Accepted Forms</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
		>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QA_Outcome__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_QA_Status_to_Finalised</name>
        <label>Set Case QA Status to Finalised</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Assessment_Status__c</field>
            <value>
                <stringValue>Finalised</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_QA_Status_to_In_Progress</name>
        <label>Set Case QA Status to In Progress</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Assessment_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QA_Non_Accepted_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QA_Outcome__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Number of forms with QA Outcome != Accepted</description>
        <name>countNonAcceptedForms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
