force-app/main/default/flows/QFR_Form_AfterUpdate_QAOutcome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <description>String to store name for Before You Start form to store in the Active Form field.</description>
        <name>BeforeYouStartStep</name>
        <dataType>String</dataType>
        <value>
            <stringValue>STBeforeYouStart</stringValue>
        </value>
    </constants>
    <description>PBI 276410</description>
    <environments>Default</environments>
    <interviewLabel>QFR_Form_AfterUpdate_QAOutcome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR_Form_AfterUpdate_QAOutcome</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Reset the Active Form field on the related case record so that it initialises the Before You Start form when the provider revisits the reissued QFR.</description>
        <name>Update_Active_Form</name>
        <label>Update Active Form</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Form__c</field>
            <value>
                <elementReference>BeforeYouStartStep</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the Is_Complete__c field to blank when the form is reissued to update the sidebar icon to the default value.</description>
        <name>Update_Sidebar_Icon</name>
        <label>Update Sidebar Icon</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Active_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Complete__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_SLI_Date_Last_Re_Issued</name>
        <label>update SLI Date Last Re Issued</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Sidebar_Icon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reasonableness_Check_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_last_reissued__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Line_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_SLI_Date_Last_Re_Issued</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QA_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Re-Issue</stringValue>
            </value>
        </filters>
        <object>Form__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
