force-app/main/default/flows/QFR_Service_Line_Item_AfterUpdate_RCOutcome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>counts the number of service line items with RC Outcome &quot;For Review&quot;</description>
        <name>counter</name>
        <label>counter_up</label>
        <locationX>1632</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>count_of_SLI</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_Service_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>form_Level_RC_Outcome_For_Review</name>
        <label>form Level RC Outcome For Review</label>
        <locationX>662</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>formLevelRCOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>For review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>form_Level_RC_Outcome_No_Review_Reqd</name>
        <label>form Level RC Outcome No Review Reqd</label>
        <locationX>1483</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>formLevelRCOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No review required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Form</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>counter_greater_than_0</name>
        <label>counter greater than 0?</label>
        <locationX>1235</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>form_Level_RC_Outcome_No_Review_Reqd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_of_SLI</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>form_Level_RC_Outcome_For_Review</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RC_Outcome_For_Review</name>
        <label>RC Outcome For Review?</label>
        <locationX>656</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reasonableness_Check_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Service_Line_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reasonableness_Check_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review not required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Service_Line_Item_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLI_RC_Outcome_No_Review_Required</name>
        <label>SLI RC Outcome No Review Required?</label>
        <locationX>1642</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>loop_Through_Service_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Through_Service_Line_Items.Reasonableness_Check_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review not required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Through_Service_Line_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Through_Service_Line_Items.Reasonableness_Check_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>counter</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>PBI 276410</description>
    <environments>Default</environments>
    <interviewLabel>QFR_Service_Line_Item_AfterUpdate_RCOutcome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QFR_Service_Line_Item_AfterUpdate_RCOutcome</label>
    <loops>
        <name>loop_Through_Service_Line_Items</name>
        <label>loop Through Service Line Items</label>
        <locationX>1231</locationX>
        <locationY>384</locationY>
        <collectionReference>varR_Service_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SLI_RC_Outcome_No_Review_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>counter_greater_than_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Service_Line_Items</name>
        <label>get Service Line Items</label>
        <locationX>1008</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Through_Service_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <object>Service_Line_Item__c</object>
        <outputReference>varR_Service_Line_Items</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Reasonableness_Check_Outcome__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_Form</name>
        <label>update Form</label>
        <locationX>1059</locationX>
        <locationY>1088</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reasonableness_Check_Outcome__c</field>
            <value>
                <elementReference>formLevelRCOutcome</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Service_Line_Item</name>
        <label>update Service Line Item</label>
        <locationX>662</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>form_Level_RC_Outcome_For_Review</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_last_RC_outcome_recorded__c</field>
            <value>
                <elementReference>DateLastRCOutcomeRecorded</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Service_Line_Item_0</name>
        <label>update Service Line Item</label>
        <locationX>842</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>get_Service_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_last_RC_outcome_recorded__c</field>
            <value>
                <elementReference>DateLastRCOutcomeRecorded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasonableness_Check_Outcome_comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Reasonableness_Check__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>RC_Outcome_For_Review</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Reasonableness_Check_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reasonableness_Check_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Review not required</stringValue>
            </value>
        </filters>
        <object>Service_Line_Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count_of_SLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DateLastRCOutcomeRecorded</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>formLevelRCOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RCComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Reasonableness_Check_Outcome_comments__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varR_Service_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Line_Item__c</objectType>
    </variables>
</Flow>
