force-app/main/default/flows/QIS_submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Change_QIS_Status</name>
        <label>Change QIS Status</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.First_submission_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Submission_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_QIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Submission_Date_only</name>
        <label>Change Submission Date only</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Submission_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_QIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Late_submission_and_submission_date_only</name>
        <label>Late submission and submission date only</label>
        <locationX>1370</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Late Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Submission_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_QIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Late_Submission_Status</name>
        <label>Late Submission Status</label>
        <locationX>578</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Late Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.First_submission_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.QIUpdatedbySiebel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Submission_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_QIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_After_Due_Date_and_submission_date_only</name>
        <label>Updated After Due Date and submission date only</label>
        <locationX>1634</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated After Due Date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Submission_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_QIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_After_Due_Date_Status</name>
        <label>Updated After Due Date Status</label>
        <locationX>842</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated After Due Date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.First_submission_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.QIUpdatedbySiebel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_QIS_record.Submission_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_QIS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_submission_is_due</name>
        <label>Check If submission is due</label>
        <locationX>710</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_First_Submission_null_checker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submission is due</defaultConnectorLabel>
        <rules>
            <name>Submission_hasn_t_due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.REPORTING_PERIOD__r.QI_Submission_Due_Dt__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Submission_null_checker</targetReference>
            </connector>
            <label>Submission hasn&apos;t due</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Decision_On_Status_Value</name>
        <label>Copy 1 of Decision On Status Value</label>
        <locationX>1634</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Late_Submission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Late_submission_and_submission_date_only</targetReference>
            </connector>
            <label>Copy 1 of Late Submission</label>
        </rules>
        <rules>
            <name>Copy_1_of_Updated_After_Due_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Updated After Due Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_After_Due_Date_and_submission_date_only</targetReference>
            </connector>
            <label>Copy 1 of Updated After Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_First_Submission_null_checker</name>
        <label>Copy 1 of First Submission null checker</label>
        <locationX>1238</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Decision_On_Status_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>First Submission is not null</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_First_Submission_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.First_submission_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_On_Status_Value</targetReference>
            </connector>
            <label>Copy 1 of First Submission is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_Status_Value</name>
        <label>Decision On Status Value</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Late_Submission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Late_Submission_Status</targetReference>
            </connector>
            <label>Late Submission</label>
        </rules>
        <rules>
            <name>Updated_After_Due_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Updated After Due Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_After_Due_Date_Status</targetReference>
            </connector>
            <label>Updated After Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Submission_null_checker</name>
        <label>First Submission null checker</label>
        <locationX>182</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Change_Submission_Date_only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>First Submission is not null</defaultConnectorLabel>
        <rules>
            <name>First_Submission_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.First_submission_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_QIS_Status</targetReference>
            </connector>
            <label>First Submission is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>QIS_Is_Null_Or_Not_Ready</name>
        <label>QIS Is Null Or Not Ready</label>
        <locationX>2310</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null Or Not Ready</defaultConnectorLabel>
        <rules>
            <name>Not_Null_And_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_QIS_record.Completed_QI_Details__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CompletedQIDetailsRequired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Record</targetReference>
            </connector>
            <label>Not Null And Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_By_Null_Checker</name>
        <label>Requested By Null Checker</label>
        <locationX>1931</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Requested_By_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requested by is null</defaultConnectorLabel>
        <rules>
            <name>Requested_by_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.Requested_by__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submission_Due_Date_Null_Checker</targetReference>
            </connector>
            <label>Requested by not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submission_Due_Date_Null_Checker</name>
        <label>Submission Due Date Null Checker</label>
        <locationX>1436</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Submission_Due_Date_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QIS_record.REPORTING_PERIOD__r.QI_Submission_Due_Dt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_submission_is_due</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Number of completed domains required before the Quality Indicator Summary can be submitted.</description>
        <name>CompletedQIDetailsRequired</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_QIS_record.REPORTING_PERIOD__r.End_Date__c} &gt; {!Get_QI_Setting.Five_Domains_RP_End_Date__c}, 11, 5)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ConfirmationMessages</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!Get_QIS_record.Status__c}) = &quot;In Progress&quot;, &quot;This quality indicator data will overwrite all previously entered data.&quot;, IF( TEXT({!Get_QIS_record.Status__c}) = &quot;Submitted&quot;, &quot;‘This will result in a new version of the QI data submission, with an updated date. This will not impact your National Average but will impact Star Ratings&apos;.&quot;, IF( TEXT({!Get_QIS_record.Status__c}) = &quot;Updated After Due Date&quot;, &quot;This will result in a new version of the QI data submission, with the label &apos;Submitted - Updated after Due Date’. This may result in a change to you Star Rating and will not impact the National Average Calculations.&quot;, IF( TEXT({!Get_QIS_record.Status__c}) = &quot;Late Submission&quot;, &quot;This will result in a new version of the QI data submission, with the label, &apos;Late Submission&apos;. Late or non-submission of data is expected to result in a 1 Star Rating.&quot;, &quot;&quot;))))</expression>
    </formulas>
    <interviewLabel>QIS submission {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>QIS submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_QI_Setting</name>
        <label>Get QI Setting</label>
        <locationX>2311</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QIS_Is_Null_Or_Not_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QI_Stepper_for_Go_Live</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Indicator_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QIS_record</name>
        <label>Get QIS record</label>
        <locationX>2310</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QI_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Indicator_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Submit_QIS</name>
        <label>Submit QIS</label>
        <locationX>710</locationX>
        <locationY>1694</locationY>
        <inputReference>Get_QIS_record</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message_Requested_By_Null</name>
        <label>Error Message Requested By Null</label>
        <locationX>2426</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Record</targetReference>
        </connector>
        <fields>
            <name>RequestedByNullErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Please make sure you have agreed to T&amp;amp;Cs and have captured Requested By contact before changing the status to Submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Submission_Due_Date_Null</name>
        <label>Error Message Submission Due Date Null</label>
        <locationX>2162</locationX>
        <locationY>926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDueDateNull</name>
            <fieldText>&lt;p&gt;The related Reporting Period&apos;s Submission Due Date is null. Please add due date before submit the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Record is not ready to be submitted. Please make sure all related QI domains and target records are complete.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Record</name>
        <label>Submit Record</label>
        <locationX>1930</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requested_By_Null_Checker</targetReference>
        </connector>
        <fields>
            <name>LawDocument</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By submitting Quality Indicators data you:&amp;nbsp;&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confirm that you have collected, and are reporting, the quality indicator data in accordance with National Aged Care Mandatory Quality Indicator Program Manual 3.0 and all applicable laws, in accordance with the Aged Care Act (1997), Records Principles (2014) and Accountability Principles.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confirm that any information you have provided does not contain any personal information as defined under Privacy Act 1988 (Cth).&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ConfirmationMessages}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ConfirmationMessages</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ConfirmationMessages</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoSecondaryMsg</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By submitting Quality Indicators data you:&amp;nbsp;&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confirm that you have collected, and are reporting, the quality indicator data in accordance with National Aged Care Mandatory Quality Indicator Program Manual 3.0 and all applicable laws, in accordance with the Aged Care Act (1997), Records Principles (2014) and Accountability Principles.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confirm that any information you have provided does not contain any personal information as defined under Privacy Act 1988 (Cth).&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ConfirmationMessages</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ConfirmationMessages</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_QIS_record.Requested_by__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Accept &amp; Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2184</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_QIS_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
