force-app/main/default/flows/RecalculateOverallOnly.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetIPVariables</name>
        <label>SetIPVariables</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Uncheck_RoS_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>DomainIPName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutputFromIP</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_IP_Input_Values</name>
        <label>Set IP Input Values</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordVars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetIPVariables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Recalc_Date_Valid</name>
        <label>Is Recalc Date Valid</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recalculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Period__r.No_Overall_Recalculations_After__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Period__r.StarRating_Calc_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Period__r.No_Overall_Recalculations_After__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_IP_Input_Values</targetReference>
            </connector>
            <label>Recalculate</label>
        </rules>
    </decisions>
    <description>Recalculates overall rating independently of a subdomain recalculation. Edit: Updating to send text template to Recalc IP</description>
    <environments>Default</environments>
    <interviewLabel>RecalculateOverallOnly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecalculateSRHOnly</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Record</name>
        <label>Create Error Record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>dohagedcare__Message__c</field>
            <value>
                <stringValue>&quot;Record updated after reporting period &apos;no recalculation after&apos; date has passed&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Source_Application__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>dohagedcare__Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Uncheck_RoS_field</name>
        <label>Uncheck RoS field</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Recalculate_on_Save__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Recalculate_on_Save__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>STAR_Rating_History__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RecordVars</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;SRHID&quot;: &quot;{!$Record.Id}&quot;,
&quot;Domain&quot;: &quot;callOverall&quot;
}</text>
    </textTemplates>
    <variables>
        <description>Name of the Domain IP to be called</description>
        <name>DomainIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_RecalcFromFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>InputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputFromIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the Overall Star Rating Recalculation IP</description>
        <name>OverallIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_StarRatingCalculation</stringValue>
        </value>
    </variables>
</Flow>
