force-app/main/default/flows/RecalculateQIDetChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetIPVariables</name>
        <label>SetIPVariables</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>DomainIPName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutputFromIP</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Falls_Parent_QI_Summ</name>
        <label>Set Falls Parent QI Summ</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Falls_Parent_QI_Summ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.REPORTING_PERIOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Falls_Parent_QI_Summ.REPORTING_PERIOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Falls_Parent_QI_Summ.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MedMgmt_Parent_QI_Summ</name>
        <label>Set MedMgmt Parent QI Summ</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MedMgmt_Parent_QI_Summ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.REPORTING_PERIOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MedMgmt_Parent_QI_Summ.REPORTING_PERIOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MedMgmt_Parent_QI_Summ.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PhysRest_Parent_QI_Summ</name>
        <label>Set PhysRest Parent QI Summ</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PhysRest_Parent_QI_Summ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.REPORTING_PERIOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PhysRest_Parent_QI_Summ.REPORTING_PERIOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PhysRest_Parent_QI_Summ.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PressInjur_Parent_QI_Summ</name>
        <label>Set PressInjur Parent QI Summ</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PressInjur_Parent_QI_Summ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.REPORTING_PERIOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PressInjur_Parent_QI_Summ.REPORTING_PERIOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PressInjur_Parent_QI_Summ.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Weightloss_Parent_QI_Summ</name>
        <label>Set Weightloss Parent QI Summ</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Weightloss_Parent_QI_Summ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.REPORTING_PERIOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Weightloss_Parent_QI_Summ.REPORTING_PERIOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentQIRecord.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Weightloss_Parent_QI_Summ.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIPInputValues</name>
        <label>Set IP Input Values</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordVars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetIPVariables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Recalc_Date_Valid</name>
        <label>Is Recalc Date Valid</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recalculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentQIRecord.REPORTING_PERIOD__r.No_QI_Recalculations_After__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentQIRecord.REPORTING_PERIOD__r.QI_Calc_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentQIRecord.REPORTING_PERIOD__r.No_QI_Recalculations_After__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_SRH_Record</targetReference>
            </connector>
            <label>Recalculate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Record type to see if a recalculation is required after the field change</description>
        <name>What_is_the_Record_Type</name>
        <label>What is the Record Type</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Falls_Injury</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Falls and Major Injury</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Assessed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Exp_Fall__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Exp_FallWith_Injury__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Falls_Parent_QI_Summ</targetReference>
            </connector>
            <label>Falls/Injury</label>
        </rules>
        <rules>
            <name>Med_Mgmt</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medication Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Presc_Med__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Assessed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_rec_antipsychotic__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Assessed2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_rec_antipsychotic_med__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MedMgmt_Parent_QI_Summ</targetReference>
            </connector>
            <label>Med Mgmt</label>
        </rules>
        <rules>
            <name>Phys_Restraint</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physical Restraint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Assessed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Physical_Restrained_SecureArea_3D__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PhysRest_Parent_QI_Summ</targetReference>
            </connector>
            <label>Phys Restraint</label>
        </rules>
        <rules>
            <name>Press_Injuries</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pressure Injuries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Assessed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_One_More_PI_Stage1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_PI_Unstagable__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_One_More_PI_AcqStage2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_PI_DeepTissue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_One_More_PI_Stage3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_One_More_PI_Stage4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PressInjur_Parent_QI_Summ</targetReference>
            </connector>
            <label>Press Injuries</label>
        </rules>
        <rules>
            <name>Weightloss</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unplanned Weight Loss</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CR_Assessed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unplanned_Sig_Weight_Loss__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unplanned_Consecutive_Weight_Loss__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_CRs_Assessed_Cons_Unplanned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Weightloss_Parent_QI_Summ</targetReference>
            </connector>
            <label>Weightloss</label>
        </rules>
    </decisions>
    <description>Recalculate the QISummary if the QI Detail record changes. Edit: Using Text Template</description>
    <environments>Default</environments>
    <interviewLabel>RecalculateQIDetChanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecalculateQIDetChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Record</name>
        <label>Create Error Record</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>dohagedcare__Exception_Stack_Trace__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Message__c</field>
            <value>
                <stringValue>&quot;Record updated after reporting period &apos;no recalculation after&apos; date has passed&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Source_Application__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>dohagedcare__Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Falls_Parent_QI_Summ</name>
        <label>Get Falls Parent QI Summ</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Falls_Parent_QI_Summ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QI_Summary_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Indicator_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MedMgmt_Parent_QI_Summ</name>
        <label>Get MedMgmt Parent QI Summ</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_MedMgmt_Parent_QI_Summ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QI_Summary_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Indicator_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PhysRest_Parent_QI_Summ</name>
        <label>Get PhysRest Parent QI Summ</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PhysRest_Parent_QI_Summ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QI_Summary_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Indicator_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PressInjur_Parent_QI_Summ</name>
        <label>Get PressInjur Parent QI Summ</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PressInjur_Parent_QI_Summ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QI_Summary_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Indicator_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Record&apos;s SRH</description>
        <name>Get_SRH_Record</name>
        <label>Get SRH Record</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIPInputValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quality_Indicator_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QI_Summary_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STAR_Rating_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Weightloss_Parent_QI_Summ</name>
        <label>Get Weightloss Parent QI Summ</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Weightloss_Parent_QI_Summ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QI_Summary_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Indicator_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_Record_Type</targetReference>
        </connector>
        <object>Quality_Indicator_Details__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Variables to send to Recalc Handler IP</description>
        <name>RecordVars</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;QIID&quot;: &quot;{!$Record.QI_Summary_Id__r.Id}&quot;,
&quot;SRHID&quot;: &quot;{!Get_SRH_Record.Id}&quot;,
&quot;Domain&quot;: &quot;callQI&quot;
}</text>
    </textTemplates>
    <variables>
        <description>Name of the Domain IP to be called</description>
        <name>DomainIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_RecalcFromFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>InputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputFromIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the Overall Star Rating Recalculation IP</description>
        <name>OverallIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_StarRatingCalculation</stringValue>
        </value>
    </variables>
    <variables>
        <name>ParentQIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quality_Indicator_Summary__c</objectType>
    </variables>
</Flow>
