force-app/main/default/flows/RecalculateQISummChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetIPVariables</name>
        <label>SetIPVariables</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>DomainIPName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutputFromIP</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetIPInputValues</name>
        <label>Set IP Input Values</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordVars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetIPVariables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_changes_from_Mule</name>
        <label>Are changes from Mule</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ignore_Mule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <label>Ignore Mule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recalc_Date_Valid</name>
        <label>Is Recalc Date Valid</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Under_Review_Exempt_Change_True</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Under_Review__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Under Review/Exempt Change True</label>
        </rules>
        <rules>
            <name>Recalculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.REPORTING_PERIOD__r.No_QI_Recalculations_After__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.REPORTING_PERIOD__r.QI_Calc_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.REPORTING_PERIOD__r.No_QI_Recalculations_After__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_SRH_Records</targetReference>
            </connector>
            <label>Recalculate</label>
        </rules>
    </decisions>
    <description>Recalculate when QISummary record changes. Edit: Updating to send text template to Recalc IP</description>
    <environments>Default</environments>
    <interviewLabel>RecalculateQISummCHanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecalculateQISummChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Record</name>
        <label>Create Error Record</label>
        <locationX>704</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>dohagedcare__Exception_Stack_Trace__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Message__c</field>
            <value>
                <stringValue>&quot;Record updated after reporting period &apos;no recalculation after&apos; date has passed&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Source_Application__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>dohagedcare__Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SRH_Records</name>
        <label>Get SRH Records</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIPInputValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quality_Indicator_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STAR_Rating_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_changes_from_Mule</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Under_Review__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>National_Statistic__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QI_Predicted_PI_S2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QI_Predicted_PI_S3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QI_Predicted_PI_S4__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QI_Predicted_FALLS__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QI_Predicted_FALLS_MI__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QI_Predicted_WL_SIG__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quality_Indicator_Summary__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RecordVars</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;QIID&quot;: &quot;{!$Record.Id}&quot;,
&quot;SRHID&quot;: &quot;{!Get_SRH_Records.Id}&quot;,
&quot;Domain&quot;: &quot;callQI&quot;
}</text>
    </textTemplates>
    <variables>
        <description>Name of the Domain IP to be called</description>
        <name>DomainIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_RecalcFromFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>InputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputFromIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the Overall Star Rating Recalculation IP</description>
        <name>OverallIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_StarRatingCalculation</stringValue>
        </value>
    </variables>
</Flow>
