force-app/main/default/flows/RecalculateCERChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetIPVariables</name>
        <label>SetIPVariables</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>DomainIPName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutputFromIP</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetIPInputValues</name>
        <label>Set IP Input Values</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordVars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetIPVariables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_consent_Revoked</name>
        <label>Is consent Revoked</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Edit_Most_Recent_CER_on_SACR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.CER_Consent_Revoked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Consent_Revoked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recalc_Date_Valid</name>
        <label>Is Recalc Date Valid</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Under_Review_Exempt_Change_True</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Under_Review__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Under Review/Exempt Change True</label>
        </rules>
        <rules>
            <name>Recalculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quarterly_RP__r.CER_Calc_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SRH</targetReference>
            </connector>
            <label>Recalculate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Quarterly_RP</name>
        <label>Set Quarterly RP</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Record</defaultConnectorLabel>
        <rules>
            <name>Is_New_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_RP</targetReference>
            </connector>
            <label>Is New record</label>
        </rules>
    </decisions>
    <description>When Exemption or Under review flags are cleared Triggers CER Recalculation process. Edit: Removing Rating_Exemption_Granted__c from decision element, added qRP CER Calc Date logic to recalculation decision</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>RecalculateCERChanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecalculateCERChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Record</name>
        <label>Create Error Record</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>dohagedcare__Message__c</field>
            <value>
                <stringValue>&quot;Record was not the most recent CER Record for this service&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Source_Application__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>dohagedcare__Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Previous_RP</name>
        <label>Get Previous RP</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_consent_Revoked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reporting_Period_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Reporting_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reporting_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SRH</name>
        <label>Get SRH</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIPInputValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consumer_Experience_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STAR_Rating_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Edit_Most_Recent_CER_on_SACR</name>
        <label>Edit Most Recent CER on SACR</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Set_CER_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_CER__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Account_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Consent_Revoked</name>
        <label>Reset Consent Revoked</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Edit_Most_Recent_CER_on_SACR</targetReference>
        </connector>
        <inputAssignments>
            <field>CER_Consent_Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Service__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_CER_Fields</name>
        <label>Set CER Fields</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Quarterly_RP__c</field>
            <value>
                <elementReference>Get_Previous_RP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Quarterly_RP</targetReference>
        </connector>
        <filterFormula>OR(
     ISNEW(),
     ISCHANGED({!$Record.Under_Review__c}),
     ISCHANGED({!$Record.Number_of_Interviews__c})
     )</filterFormula>
        <object>SRQI_CER__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RecordVars</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;CERId&quot;: &quot;{!$Record.Id}&quot;,
&quot;SRHId&quot;: &quot;{!Get_SRH.Id}&quot;,
&quot;Domain&quot;: &quot;callCER&quot;
}</text>
    </textTemplates>
    <variables>
        <description>Name of the Domain IP to be called</description>
        <name>DomainIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_RecalcFromFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>InputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputFromIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the Overall Star Rating Recalculation IP</description>
        <name>OverallIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_StarRatingCalculation</stringValue>
        </value>
    </variables>
</Flow>
