force-app/main/default/flows/RecalculateCEIChanges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetIPVariables</name>
        <label>SetIPVariables</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>DomainIPName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutputFromIP</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetIPInputValues</name>
        <label>Set IP Input Values</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordVars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetIPVariables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Recalc_Date_Valid</name>
        <label>Is Recalc Date Valid</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recalculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Consumer_Experience_Report__r.Extant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SRH_Record</targetReference>
            </connector>
            <label>Recalculate</label>
        </rules>
    </decisions>
    <description>Triggers when consent or answers in a CEI are changed, and recalculates the parent CER. Edit: changing format of CER data sent to Apex</description>
    <environments>Default</environments>
    <interviewLabel>RecalculateCEIChanges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecalculateCEIChanges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Record</name>
        <label>Create Error Record</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>dohagedcare__Message__c</field>
            <value>
                <stringValue>&quot;Record updated after reporting period &apos;no recalculation after&apos; date has passed&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Source_Application__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>dohagedcare__Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SRH_Record</name>
        <label>Get SRH Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetIPInputValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consumer_Experience_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Consumer_Experience_Report__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STAR_Rating_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Recalc_Date_Valid</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Consent_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Respect__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Food__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Safety__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Operation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Care_Need__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Competent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Independent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Explain__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Follow_Up__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Caring__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Voice__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Home__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SRQI_CEI__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Array of data to send to Apex recalculation</description>
        <name>RecordVars</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;CERId&quot;: &quot;{!$Record.Consumer_Experience_Report__r.Id}&quot;,
&quot;SRHId&quot;: &quot;{!Get_SRH_Record.Id}&quot;,
&quot;Domain&quot;: &quot;callCER&quot;
}</text>
    </textTemplates>
    <variables>
        <description>Name of the Domain IP to be called</description>
        <name>DomainIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_RecalcFromFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>InputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputFromIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the Overall Star Rating Recalculation IP</description>
        <name>OverallIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_StarRatingCalculation</stringValue>
        </value>
    </variables>
</Flow>
