force-app/main/default/flows/RecalculateCERConsent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SetIPVariables</name>
        <label>SetIPVariables</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopAllCERs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <elementReference>DomainIPName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutputFromIP</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_IP_Input_Values</name>
        <label>Set IP Input Values</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>InputValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllCERs.Service__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllCERs.Reporting_Period__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SRH_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>callCER</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetIPVariables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Recalc_Date_Valid</name>
        <label>Is Recalc Date Valid</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Recalculate_CER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAllCERs.Reporting_Period__r.No_CER_Recalculations_After__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopAllCERs.Reporting_Period__r.CER_Calc_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopAllCERs.Reporting_Period__r.No_CER_Recalculations_After__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_SRH_Record</targetReference>
            </connector>
            <label>Recalculate CER</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCERCurrentFY</name>
        <label>Is CER Current FY</label>
        <locationX>594</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>LoopAllCERs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current FY False</defaultConnectorLabel>
        <rules>
            <name>Current_FY_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreatedDateCurrentFY</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Recalc_Date_Valid</targetReference>
            </connector>
            <label>Current FY True</label>
        </rules>
    </decisions>
    <description>Triggers a recalculation of the CER Rating when a service refuses participation. Edit: Correcting formula reference to CER record, not $!Record</description>
    <environments>Default</environments>
    <formulas>
        <name>IsCreatedDateCurrentFY</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
        MONTH(TODAY()) &gt;= 7,
        DATEVALUE({!LoopAllCERs.CreatedDate}) &gt;= DATE(YEAR(TODAY()),07,01),
        DATEVALUE({!LoopAllCERs.CreatedDate}) &lt;= DATE(YEAR(TODAY() - 1),06,30)
        ),
    AND(
        MONTH(TODAY()) &lt;= 6,
        DATEVALUE({!LoopAllCERs.CreatedDate}) &gt;= DATE(YEAR(TODAY()) - 1 ,07,01),
        DATEVALUE({!LoopAllCERs.CreatedDate}) &lt;= DATE(YEAR(TODAY()),06,30)
        )
)</expression>
    </formulas>
    <interviewLabel>RecalculateCERConsent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecalculateCERConsent</label>
    <loops>
        <name>LoopAllCERs</name>
        <label>LoopAllCERs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GetCERFields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsCERCurrentFY</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Record</name>
        <label>Create Error Record</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>LoopAllCERs</targetReference>
        </connector>
        <inputAssignments>
            <field>dohagedcare__Message__c</field>
            <value>
                <stringValue>&quot;Record updated after reporting period &apos;no recalculation after&apos; date has passed&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dohagedcare__Source_Application__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>dohagedcare__Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SRH_Record</name>
        <label>Get SRH Record</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_IP_Input_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consumer_Experience_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopAllCERs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STAR_Rating_History__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get fields from the parent CER record</description>
        <name>GetCERFields</name>
        <label>Get CER Fields</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllCERs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rating_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Previous Rating</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SRQI_CER__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCERFields</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CER_Consent_Revoked__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BusinessLicense</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Name of the Domain IP to be called</description>
        <name>DomainIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_RecalcFromFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>InputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputFromIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the Overall Star Rating Recalculation IP</description>
        <name>OverallIPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SRQI_StarRatingCalculation</stringValue>
        </value>
    </variables>
    <variables>
        <name>sfgsfg</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
