force-app/main/default/flows/Refresh_Address_Flow_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CheckAddress</name>
        <label>CheckAddress</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Refresh_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAddress.Latitude_Longitude__Latitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAddress.Latitude_Longitude__Longitude__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Refresh_Address</targetReference>
            </connector>
            <label>HasAddress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Address</name>
        <dataType>String</dataType>
        <expression>{!GetAddress.Street__c}+&apos;, &apos;+{!GetAddress.City__c}+&apos;, &apos;+TEXT({!GetAddress.State_Province__c})+&apos;, &apos;+{!GetAddress.Zip_Postal_Code__c}+&apos;, &apos;+TEXT({!GetAddress.Country__c})</expression>
    </formulas>
    <interviewLabel>Refresh Address Flow (Screen) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refresh Address Flow (Screen)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRefreshAddressEvent</name>
        <label>CreateRefreshAddressEvent</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_address_refresh_status</targetReference>
        </connector>
        <inputAssignments>
            <field>AddressId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPMS_Name__c</field>
            <value>
                <elementReference>GetAddress.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude__c</field>
            <value>
                <elementReference>GetAddress.Latitude_Longitude__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude__c</field>
            <value>
                <elementReference>GetAddress.Latitude_Longitude__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Refresh__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAddress</name>
        <label>GetAddress</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_address_refresh_status</name>
        <label>Update address refresh status</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refresh_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Geospatial_Information__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Refresh_Address</name>
        <label>Copy 1 of Refresh Address</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateRefreshAddressEvent</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ConfrimMessage</name>
            <fieldText>&lt;p&gt;Confirm to Refresh Address?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Refresh_Address</name>
        <label>Refresh Address</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfrimMessage</name>
            <fieldText>&lt;p&gt;This address is not valid for the refresh geospatial information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAddress</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
