force-app/main/default/flows/REISSUE_Set_QA_Outcome_Reasonableness_to_NULL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_form_id</name>
        <label>add form id</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>formIdsforCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Form.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Count_Forms</name>
        <label>Copy 1 of Count Forms</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>countNonAcceptedForms</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_Get_Viability_and_Prudential_Reporting_Responses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Viability_Questions_Where_Responses_is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Forms</name>
        <label>Count Forms</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>countNonAcceptedForms</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Viability_and_Prudential_Reporting_Responses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Viability_Questions_Where_Responses_is_Yes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Identifying a Case has been Reissued prior to Submission or Re-Submission</description>
        <name>Case_Was_Reissued_Prior_To_Submission</name>
        <label>Case Was Reissued Prior To Submission</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_QA_Outcome_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Reissued</defaultConnectorLabel>
        <rules>
            <name>Yes_Reissued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QA_Outcome_Is_Accepted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes Reissued</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Viability_Questions_Where_Responses_is_Yes</name>
        <label>Copy 1 of Viability Questions Where Responses is Yes</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_QA_Outcome_to_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countNonAcceptedForms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_QA_Outcome_to_Null</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>QA_Outcome_Is_Accepted</name>
        <label>QA Outcome Is Accepted</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Reissued_QA_Outcome_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Accepted</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.QA_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Viability_Questions_Where_Responses_is_Yes</name>
        <label>Viability Questions Where Responses is Yes</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Set_QA_Outcome_to_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countNonAcceptedForms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_QA_Outcome_to_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>REISSUE - Set QA Outcome, Reasonableness to NULL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REISSUE - Set QA Outcome, Reasonableness to NULL</label>
    <loops>
        <name>For_Each_Form</name>
        <label>For Each Form</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Forms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_form_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Viability_and_Prudential_Reporting_Responses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Updates the default QA outcome value to NULL for Residential Care Viability and Prudential Reporting and Home Care Viability and Prudential Reporting</description>
        <name>Copy_1_of_Get_Viability_and_Prudential_Reporting_Responses</name>
        <label>Copy 1 of Get Viability and Prudential Reporting Responses</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Count_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response_Options__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Question_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Form__c</field>
            <operator>In</operator>
            <value>
                <elementReference>formIdsforCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forms</name>
        <label>Get Forms</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Updates the default QA outcome value to NULL for Residential Care Viability and Prudential Reporting and Home Care Viability and Prudential Reporting</description>
        <name>Get_Viability_and_Prudential_Reporting_Responses</name>
        <label>Get Viability and Prudential Reporting Responses</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response_Options__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Question_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resi Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Form__c</field>
            <operator>In</operator>
            <value>
                <elementReference>formIdsforCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Set_QA_Outcome_to_Accepted</name>
        <label>Copy 1 of Set QA Outcome to Accepted</label>
        <locationX>710</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care Viability and Prudential Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>formIdsforCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set QA Outcome to default value of Null</description>
        <name>Copy_1_of_Set_QA_Outcome_to_Null</name>
        <label>Copy 1 of Set QA Outcome to Null</label>
        <locationX>446</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care Viability and Prudential Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>formIdsforCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome__c</field>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_QA_Outcome_to_Accepted</name>
        <label>Set QA Outcome to Accepted</label>
        <locationX>710</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Viability_and_Prudential_Reporting_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Viability and Prudential Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>formIdsforCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set QA Outcome to default value of Null</description>
        <name>Set_QA_Outcome_to_Null</name>
        <label>Set QA Outcome to Null</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Viability_and_Prudential_Reporting_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Viability and Prudential Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>formIdsforCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome__c</field>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates default QA Outcome to Accepted on Approved Provider Quarterly Financial Statements, Home Care Labour Costs and Hours
and Food and Nutrition Reporting</description>
        <name>Update_Default_QA_Outcome_to_Accepted</name>
        <label>Update Default QA Outcome to Accepted</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Forms</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Provider Quarterly Financial Statements</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care Labour Costs and Hours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Food and Nutrition Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATSIFACP Food and Nutrition Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPS Food and Nutrition Reporting</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Forms__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update QA Outcome, Reasonableness Check Outcome to NULL after Case Status is updated to Submitted AFTER reissue</description>
        <name>Update_QA_Outcome_to_Null</name>
        <label>Update Record to NULL</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Default_QA_Outcome_to_Accepted</targetReference>
        </connector>
        <inputAssignments>
            <field>QA_Outcome__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasonableness_Check_Outcome__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Forms__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update QA Outcome to Null on Reissued forms after Re-Submission</description>
        <name>Update_Reissued_QA_Outcome_to_Null</name>
        <label>Update Reissued QA Outcome to Null</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved Provider Quarterly Financial Statements</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care Labour Costs and Hours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Labour Costs and Hours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Food and Nutrition Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATSIFACP Food and Nutrition Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MPS Food and Nutrition Reporting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declaration and Submission</stringValue>
            </value>
        </filters>
        <filters>
            <field>QA_Outcome__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Outcome__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Forms__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Was_Reissued_Prior_To_Submission</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(OR(TEXT({!$Record.Status})=&apos;Re-Submitted&apos;,TEXT({!$Record.Status})=&apos;Submitted&apos;),{!$Record.RecordType.Name}=&apos;QFR&apos;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Number of forms with QA Outcome != Accepted</description>
        <name>countNonAcceptedForms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>formIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formIdsforCase</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
