force-app/main/default/flows/SACR_Update_Service_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddAddresses</name>
        <label>AddAddresses</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>LocationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PhysicalAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PhysicalAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PhysicalPostal_Address</name>
        <label>PhysicalPostal Address</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PhysicalAdd.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhysicalAddress.Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhysicalAdd.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhysicalAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeService.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhysicalAdd.Address_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhysicalAddress.Address_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhysicalAdd.Location_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhysicalAddress.Location_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAddresses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_CHSP_Account</name>
        <label>Check CHSP Account</label>
        <locationX>270</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHSP_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commonwealth_Home_Support_Programme</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeService</targetReference>
            </connector>
            <label>CHSP Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHSP_Service</name>
        <label>CHSP Service</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>GetPhysicalPostalAddressLoc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHSP Service</defaultConnectorLabel>
        <rules>
            <name>Non_CHSP_Service_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordTypeService</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Non CHSP Service Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SACR: Update Service Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SACR: Update Service Address</label>
    <loops>
        <name>PhysicalAddress</name>
        <label>PhysicalAddress</label>
        <locationX>226</locationX>
        <locationY>815</locationY>
        <collectionReference>GetPhysicalPostalAddressLoc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PhysicalPostal_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Service_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Address</name>
        <label>Create Service Address</label>
        <locationX>226</locationX>
        <locationY>1271</locationY>
        <inputReference>LocationList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetPhysicalPostalAddressLoc</name>
        <label>GetPhysicalPostalAddressLoc</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PhysicalAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address_Ineffective_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Provider_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeService</name>
        <label>GetRecordTypeService</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHSP_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceAddress</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Address_Location__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CHSP_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Service_Account_Relationship__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LocationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Location__c</objectType>
    </variables>
    <variables>
        <name>PhysicalAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Location__c</objectType>
    </variables>
</Flow>
