force-app/main/default/flows/SAR_Update_Existing_Record_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_End_Date</name>
        <label>Check End Date</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Is_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Association_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Association_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DateisToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SACR_record</targetReference>
            </connector>
            <label>End Date Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SACR_has_a_Provider</name>
        <label>Check SACR has a Provider</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasProvider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_End_Date</targetReference>
            </connector>
            <label>HasProvider</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateisToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>EndDateUpdate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Association_Start_Date__c} -1</expression>
    </formulas>
    <interviewLabel>SAR: Update Existing Record Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAR: Update Existing Record End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SACR_record</name>
        <label>Get SACR record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Existing_SACR_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Association_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Account_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_SACR_Record</name>
        <label>Update Existing SAR Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SACR_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Association_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Name__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Association_End_Date__c</field>
            <value>
                <elementReference>EndDateUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Account_Relationship__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_SACR_has_a_Provider</targetReference>
        </connector>
        <object>Service_Account_Relationship__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
