force-app/main/default/flows/SCR_Unlock_Regulatory_Decision_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Inactive</name>
        <label>Is Inactive?</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>RemovedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Removed</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordid.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveScreen</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_Current</name>
        <label>Is Published and Current or Non-Current?</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive or Removed Published</defaultConnectorLabel>
        <rules>
            <name>Status_Current</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordid.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRecordid.Published__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRecordid.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock</targetReference>
            </connector>
            <label>Current/Non-Current Published</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unlock_Confirmation</name>
        <label>Unlock Confirmation</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unlock_Cofirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnlockCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeId</targetReference>
            </connector>
            <label>Unlock Cofirm</label>
        </rules>
    </decisions>
    <description>This flow will update the status on regulatory decision to Inactive and create a new copy of the regulatory decision with status = Current or Non-Current.</description>
    <environments>Default</environments>
    <formulas>
        <name>LockRecordType</name>
        <dataType>String</dataType>
        <expression>{!GetRecordid.RecordType.Id}</expression>
    </formulas>
    <formulas>
        <name>OriginalVersion</name>
        <dataType>Number</dataType>
        <expression>{!GetRecordid.Version__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateVersion</name>
        <dataType>Number</dataType>
        <expression>{!GetRecordid.Version__c}   +1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SCR: Unlock Regulatory Decision Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR: Unlock Regulatory Decision Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>CreateRecord</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>NewRecordId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Archived_Regulatory_Decision__c</field>
            <value>
                <elementReference>GetRecordid.Archived_Regulatory_Decision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateCreated</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Decision_Applied__c</field>
            <value>
                <elementReference>GetRecordid.Date_Decision_Applied__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Decision_Ends__c</field>
            <value>
                <elementReference>GetRecordid.Date_Decision_Ends__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Details__c</field>
            <value>
                <elementReference>GetRecordid.Decision_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Status__c</field>
            <value>
                <elementReference>GetRecordid.Previous_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress__c</field>
            <value>
                <elementReference>GetRecordid.Progress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Relevant__c</field>
            <value>
                <elementReference>GetRecordid.Rating_Relevant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_issuing_Regulatory_Decision__c</field>
            <value>
                <elementReference>GetRecordid.Reason_for_issuing_Regulatory_Decision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LockRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegDecisiontype_ext_Id__c</field>
            <value>
                <elementReference>GetRecordid.RegDecisiontype_ext_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Regulatory_Decision__c</field>
            <value>
                <elementReference>GetRecordid.Related_Regulatory_Decision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Removed_Reason__c</field>
            <value>
                <elementReference>GetRecordid.Removed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Account_Relationship__c</field>
            <value>
                <elementReference>GetRecordid.Service_Account_Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Compliance_Rating_Effect__c</field>
            <value>
                <elementReference>GetRecordid.Service_Compliance_Rating_Effect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Compliance_Rating__c</field>
            <value>
                <elementReference>GetRecordid.Service_Compliance_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Name__c</field>
            <value>
                <elementReference>GetRecordid.Service_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Name_lookup__c</field>
            <value>
                <elementReference>GetRecordid.Service_Name_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provider_Name__c</field>
            <value>
                <elementReference>GetRecordid.Service_Provider_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provider_Name_lookup__c</field>
            <value>
                <elementReference>GetRecordid.Service_Provider_Name_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>OriginalVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ViolationTypeId</field>
            <value>
                <elementReference>GetRecordid.ViolationTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>RegulatoryCodeViolation</object>
    </recordCreates>
    <recordLookups>
        <description>Get the record type id of Regulatory_Decision_Unlock</description>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status_of_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regulatory_Decision_Unlock</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRecordid</name>
        <label>GetRecordid</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_status_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryCodeViolation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_of_Current</name>
        <label>Update Status of Current</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>CreateRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Published__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>UpdateVersion</elementReference>
            </value>
        </inputAssignments>
        <object>RegulatoryCodeViolation</object>
    </recordUpdates>
    <screens>
        <description>Display Error for fault</description>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Error occurred during create/update. Please contact admin for support. Error message : {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InactiveScreen</name>
        <label>InactiveScreen</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InactiveErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Unable to unlock an inactive regulatory decision&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RemovedScreen</name>
        <label>RemovedScreen</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RemovedErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Unable to unlock a removed regulatory decision&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unlock</name>
        <label>Unlock</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unlock_Confirmation</targetReference>
        </connector>
        <fields>
            <name>UnlockCheck</name>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm you wish to unlock a Published Regulatory Decision?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regdecclonevalues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RegulatoryCodeViolation</objectType>
    </variables>
</Flow>
