force-app/main/default/flows/Send_QFR_Submission_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmailMain</name>
        <label>sendEmailMain</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>AcfrEmailService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invocableVariables</name>
            <value>
                <elementReference>emailVar</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Email_Variables</name>
        <label>Assign Email Variables</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>recordId={!$Record.Id};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>isStandard=True;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>templateName=QFR_Submission_Email;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>hasPrimaryMergeField=True;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>toAddress1PrimaryOnly=True;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>toAddressPrimaryAll=False;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>toAddressAllContactRel=False;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>toAddressVariable=False;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmailMain</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send QFR Submission Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send QFR Submission Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Email_Variables</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Re-Submitted</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
