force-app/main/default/flows/Service_Update_Service_Status_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_Status_is_updating</name>
        <label>Check if Status is updating</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status_Update_AP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Status_Start_Date</targetReference>
            </connector>
            <label>Check Status Update_AP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_is_updating_Non_Operational</name>
        <label>Check if Status is updating_Non_Operational</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_Status_Update_AP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Status_Non_Operational</targetReference>
            </connector>
            <label>Check Status Update_NATSIFAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_is_updating_Operational</name>
        <label>Check if Status is updating_Operational</label>
        <locationX>1238</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status_Update_Operational</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Status_Operational</targetReference>
            </connector>
            <label>Check Status Update_Operational</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfNot_operational</name>
        <label>IfNot-operational</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Status_NATSIFAC_Operational</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChangeToNon_Operational</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-Operational</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Operational</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Status_NATSIFAC_Non_Operational</targetReference>
            </connector>
            <label>ChangeToNon_Operational</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Record</name>
        <label>Service Record</label>
        <locationX>908</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Approved_Provider_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved_Provider_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Status</targetReference>
            </connector>
            <label>Approved Provider Service</label>
        </rules>
        <rules>
            <name>NATSIFAC_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATSIFAC_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfNot_operational</targetReference>
            </connector>
            <label>NATSIFAC Service</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CorrectStatus</name>
        <dataType>String</dataType>
        <expression>if(ISCHANGED({!$Record.Physical_Address__c}) &amp;&amp; {!$Record__Prior.Physical_Address__c}==NULL &amp;&amp; TEXT({!$Record.Care_Type__c})=&apos;Home Care&apos;,&apos;Operational&apos;,if({!$Record.Operational__c}&gt;0 &amp;&amp; (TEXT({!$Record.Care_Type__c})=&apos;Flexible&apos; || TEXT({!$Record.Care_Type__c})=&apos;Residential&apos;) ,&apos;Operational&apos;, if({!$Record.Provisional__c}&gt;0 &amp;&amp; {!$Record.Operational__c}=0 &amp;&amp; {!$Record.Offline__c}=0 ,&apos;Pre-operational&apos;,if({!$Record.Offline__c}&gt;0 &amp;&amp; ({!$Record.Provisional__c} &gt;=0 || {!$Record.Provisional__c} =0)&amp;&amp; {!$Record.Operational__c}=0 ,&apos;Offline&apos;,&quot;Inactive&quot;))))</expression>
    </formulas>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>NATSIFACNewStatus</name>
        <dataType>String</dataType>
        <expression>if((TEXT({!$Record.Status__c}) =&quot;Non-Operational&quot;) ,TEXT({!$Record.Status__c}) ,{!NATSIFACStatus})</expression>
    </formulas>
    <formulas>
        <name>NATSIFACStatus</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Operational__c}&gt;0,&apos;Operational&apos;,if({!$Record.Operational__c}=0 &amp;&amp; {!$Record.Offline__c}&gt;0 ,&apos;Non-Operational&apos;,&quot;Non-Operational&quot;))</expression>
    </formulas>
    <formulas>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <expression>if(((TEXT({!$Record.Status__c})=&quot;Offline-Temporary Closure of Facility&quot; || TEXT({!$Record.Status__c})=&quot;Offline-Permanent Closure of Facility&quot;) &amp;&amp; ( {!CorrectStatus} ==&quot;Offline&quot;)) || (TEXT({!$Record.Status__c}) = &quot;Service Record Closed&quot; &amp;&amp; (TEXT({!$Record.Care_Type__c})=&apos;Residential&apos; || TEXT({!$Record.Care_Type__c})=&apos;Flexible&apos;)) || (TEXT({!$Record.Status__c}) = &quot;Closed&quot; &amp;&amp;TEXT({!$Record.Care_Type__c})=&apos;Home Care&apos;) ,TEXT({!$Record.Status__c}), {!CorrectStatus})</expression>
    </formulas>
    <interviewLabel>Service: Update Service Status Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service: Update Service Status Start Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Service_Status</name>
        <label>Update Service Status</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Check_if_Status_is_updating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed-Combined</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Status_NATSIFAC_Non_Operational</name>
        <label>Update Service Status NATSIFAC Non Operational</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Check_if_Status_is_updating_Non_Operational</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>NATSIFACStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Status_NATSIFAC_Operational</name>
        <label>Update Service Status NATSIFAC Operational</label>
        <locationX>1238</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Check_if_Status_is_updating_Operational</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>NATSIFACStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Status_Non_Operational</name>
        <label>Update Service Status_Non_Operational</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Status_Operational</name>
        <label>Update Service Status_Operational</label>
        <locationX>1106</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Status_Start_Date</name>
        <label>Update Service Status Start Date</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed-Combined</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Record</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; Text({!$Record.Status__c}) &lt;&gt; null) || (NOT(ISNEW())) || {!$Record.Operational__c}&gt;0 || {!$Record.Provisional__c} &gt;0 || {!$Record.Offline__c}&gt;0</filterFormula>
        <object>BusinessLicense</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
