force-app/main/default/flows/Service_AP_Services_Accreditation_Revoked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckServiceCareType</name>
        <label>CheckServiceCareType</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CareTypeIsResi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServicesRecord.Care_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Accreditation</targetReference>
            </connector>
            <label>CareTypeIsResi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Accreditation_Status_Check</name>
        <label>Current Accreditation Status Check</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CurrentAccreditiationValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Accreditation.Accreditation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accredited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Accreditation.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateisToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accerditation_Record_Type</targetReference>
            </connector>
            <label>CurrentAccreditiationValid</label>
        </rules>
        <rules>
            <name>CurrentAccreditiationNotValid</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Current_Accreditation.Accreditation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accredited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Accreditation.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateIsNull</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Accreditation.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DateisToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccreditationErrorMessage</targetReference>
            </connector>
            <label>CurrentAccreditiationNotValid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateIsNull</name>
        <dataType>Date</dataType>
        <expression>DateValue(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DateisToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Service: AP Services Accreditation Revoked {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service: AP Services Accreditation Revoked</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Revoke_Accreditation</name>
        <label>Create Revoke Accreditation</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>UpdateCurrentAccreditiationRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorLayout1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Accreditation_Status__c</field>
            <value>
                <stringValue>Not Accredited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment_Effective_Date__c</field>
            <value>
                <elementReference>CommentEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Comment_Revoke</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Date__c</field>
            <value>
                <elementReference>DateOfRevocationDecision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Type__c</field>
            <value>
                <stringValue>Revoke Period</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Variation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Accerditation_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>RevocationStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Accreditation_Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Accerditation_Record_Type</name>
        <label>Accerditation Record Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revoke_Accreditation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accreditation_Certification__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accreditation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Accreditation</name>
        <label>Current Accreditation</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Accreditation_Status_Check</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>DateIsNull</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>DateisToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Accreditation_Certification__c</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServicesRecord</name>
        <label>GetServicesRecord</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckServiceCareType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentAccreditiationRecord</name>
        <label>UpdateCurrentAccreditiationRecord</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_ErrorLayout1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Accreditation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>RevocationStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Accreditation_Certification__c</object>
    </recordUpdates>
    <screens>
        <name>AccreditationErrorMessage</name>
        <label>AccreditationErrorMessage</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: There is no active accreditation to revoke!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_ErrorLayout1</name>
        <label>Copy 1 of ErrorLayout1</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Current_Accreditation_Status_Check</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorLayout1</name>
        <label>ErrorLayout1</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Current_Accreditation_Status_Check</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Revoke_Accreditation_Screen</name>
        <label>Revoke Accreditation</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Revoke_Accreditation</targetReference>
        </connector>
        <fields>
            <name>Decision_Type</name>
            <fieldText>&lt;p&gt;Decision Type: {!DecisionType}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accreditation_Status</name>
            <fieldText>&lt;p&gt;Accreditation Status: {!AccreditationStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DateOfRevocationDecision</name>
            <dataType>Date</dataType>
            <fieldText>Date of Revocation Decision</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Revocation Date cannot be future date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DateOfRevocationDecision} &lt;= TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RevocationStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Revocation Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Revocation Start Date cannot precede current Accreditation Start Date and cannot be greater than current Accreditation End Date&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Current_Accreditation.Start_Date__c} &lt;= {!RevocationStartDate},{!Current_Accreditation.End_Date__c} &gt;= {!RevocationStartDate})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comment_Revoke</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommentEffectiveDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DateisToday</elementReference>
            </defaultValue>
            <fieldText>Comment Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Comment effective date cannot be before Date of Revocation Decision and cannot be a future date.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!CommentEffectiveDate} &gt;={!DateOfRevocationDecision}, {!CommentEffectiveDate} &lt;= TODAY())</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetServicesRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccreditationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Not Accredited</stringValue>
        </value>
    </variables>
    <variables>
        <name>DecisionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Revoke Period</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
