force-app/main/default/flows/Service_Update_RACS_ID_Effective_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_If_CHSP_Record_Type_and_Status</name>
        <label>Check If CHSP Record Type and Status</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Decision_RACS_ID_Null_Value_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHSP_and_Status_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHSP_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_and_Date</targetReference>
            </connector>
            <label>CHSP and Status Null</label>
        </rules>
        <rules>
            <name>CHSP_and_Status_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHSP_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusDate</targetReference>
            </connector>
            <label>CHSP and Status Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_and_Status</name>
        <label>Check Record Type and Status</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_If_CHSP_Record_Type_and_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_CHSP_and_Status_Not_Null</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CHSP_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Date</targetReference>
            </connector>
            <label>NOT CHSP and Status Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_RACS_ID_Null_Value_Check</name>
        <label>Decision: RACS ID Value Check</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_RACS_ID_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RACS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RACS_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RACS_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RACS_ID_Effective_Date_To_Null</targetReference>
            </connector>
            <label>Null RACS ID Value</label>
        </rules>
        <rules>
            <name>Valid_RACS_ID_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RACS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RACS_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RACS_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RACS_ID_Effective_Date_to_Current_Date</targetReference>
            </connector>
            <label>Valid RACS ID Value</label>
        </rules>
    </decisions>
    <description>This flow autopopulates the RACS ID Effective Date field to the current date when the RACS ID field gets populated</description>
    <environments>Default</environments>
    <interviewLabel>Service: Update RACS ID Effective Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service: Update RACS ID Effective Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_RACS_ID_Effective_Date_to_Current_Date</name>
        <label>Set RACS ID Effective Date to Current Date</label>
        <locationX>314</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>RACS_ID_Effective_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RACS_ID_Effective_Date_To_Null</name>
        <label>Set RACS ID Effective Date To Null</label>
        <locationX>50</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>RACS_ID_Effective_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_and_Date</name>
        <label>Update Status and Date</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Decision_RACS_ID_Null_Value_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Operational</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date</name>
        <label>Update Status Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_RACS_ID_Null_Value_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusDate</name>
        <label>Update Status Date</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Decision_RACS_ID_Null_Value_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type_and_Status</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(),ISCHANGED({!$Record.RACS_ID__c}),ISCHANGED({!$Record.Status__c}),ISCHANGED({!$Record.Status}))</filterFormula>
        <object>BusinessLicense</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
