force-app/main/default/flows/Service_Update_Service_Period_of_Operation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Status_of_Services</name>
        <label>Check Status of Services</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServicesIsOpened</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operational</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckServicesRecordType</targetReference>
            </connector>
            <label>ServicesIsOpened</label>
        </rules>
        <rules>
            <name>ServicesIsClosed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Relationship_Record</targetReference>
            </connector>
            <label>ServicesIsClosed</label>
        </rules>
        <rules>
            <name>APServicesIsClosed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Record Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Combined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Relationship_Record_2</targetReference>
            </connector>
            <label>APServicesIsClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckServicesRecordType</name>
        <label>CheckServicesRecordType</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceRecordIsAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved_Provider_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AP_Open_Services</targetReference>
            </connector>
            <label>ServiceRecordIsAP</label>
        </rules>
        <rules>
            <name>ServiceRecordIsNATSIFAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATSIFAC_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NATSIFAC_Open_Services</targetReference>
            </connector>
            <label>ServiceRecordIsNATSIFAC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateIsNull</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>DateIsToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Service: Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service: Update Service Period of Operation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Relationship_Record</name>
        <label>Get Contact Relationship Record</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AP_Close_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Relationship_Record_2</name>
        <label>Get Contact Relationship Record 2</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AP_Close_Services_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Record</name>
        <label>Service Record</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_of_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AP_Close_Services_2</name>
        <label>AP Close Services 2</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Contact_Relationship_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPMS_Service_Close_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateIsNull</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GPMS_Service_Close_Date__c</field>
            <value>
                <elementReference>DateIsToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AP_Close_Services</name>
        <label>Update AP Close Services</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GPMS_Service_Close_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateIsNull</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GPMS_Service_Close_Date__c</field>
            <value>
                <elementReference>DateIsToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AP_Open_Services</name>
        <label>Update AP Open Services</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Open_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateIsNull</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Open_Date__c</field>
            <value>
                <elementReference>DateIsToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Relationship</name>
        <label>Update Contact Relationship</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Effect_on_Suitability__c</field>
            <value>
                <stringValue>Service Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>DateIsToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Departure__c</field>
            <value>
                <stringValue>Service Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Relationship_2</name>
        <label>Update Contact Relationship 2</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Effect_on_Suitability__c</field>
            <value>
                <stringValue>Service Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>DateIsToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Departure__c</field>
            <value>
                <stringValue>Service Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NATSIFAC_Open_Services</name>
        <label>Update NATSIFAC Open Services</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Open_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateIsNull</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Open_Date__c</field>
            <value>
                <elementReference>DateIsToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>BusinessLicense</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
