force-app/main/default/flows/Service_Update_Care_Type_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Care_Type_Status</name>
        <label>Care Type Status</label>
        <locationX>116</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_CHSP_NATSIFAC_Care_Type.Current_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Type_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CareTypeStatus</name>
        <label>Care Type Status</label>
        <locationX>1084</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>GetCHSPCareType.Current_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Funded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCareTypeStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NATSIFAC_Care_Type_Status</name>
        <label>Care Type Status</label>
        <locationX>3020</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_NATSIFAC_Care_Type.Current_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Funded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NATSIFAC_Care_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NATSIFACCareTypeStatus</name>
        <label>Care Type Status</label>
        <locationX>1788</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>GetNATSIFACCareType.Current_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Funded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateNATSIFACCareType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_NATSIFAC_Operational_Services</name>
        <label>Active NATSIFAC Operational Services</label>
        <locationX>2954</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_NATSIFAC_Care_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Operational</defaultConnectorLabel>
        <rules>
            <name>NATSIFAC_Operational</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_NATSIFAC_Operational_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>NATSIFAC Operational</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_On_Service</name>
        <label>Check Account On Service</label>
        <locationX>1089</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>CHSP_or_NATSIFAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_Account_On_Service</name>
        <label>Check Active Account On Service</label>
        <locationX>2723</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_NATSIFAC_Operational_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>NATSIFAC_Account_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATSIFAC_Service</stringValue>
                </rightValue>
            </conditions>
            <label>NATSIFAC Account Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_any_Care_Types_Exists</name>
        <label>Check if any Care Types Exists</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CHSP_NATSIFAC_Care_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Care_Type_Status</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_any_Operational_Services</name>
        <label>Check If any Operational Services</label>
        <locationX>1018</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>GetCHSPCareType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive Service</defaultConnectorLabel>
        <rules>
            <name>Operational_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CHSP_Operational_Services</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Operational Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CHSP_Care_Types_Exists</name>
        <label>Check if CHSP Care Types Exists</label>
        <locationX>1216</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHSP_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCHSPCareType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CareTypeStatus</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_NATSIFAC_Care_Types_Exists</name>
        <label>Check if NATSIFAC Care Types Exists</label>
        <locationX>1920</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NATSIFAC_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNATSIFACCareType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NATSIFACCareTypeStatus</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_NATSIFACCareTypes_Exists</name>
        <label>Check if NATSIFAC Care Types Exists</label>
        <locationX>3152</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NATSIFAC_CareType_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NATSIFAC_Care_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NATSIFAC_Care_Type_Status</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NATSIFAC_Operational_Services</name>
        <label>Check NATSIFAC Operational Services</label>
        <locationX>1722</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>GetNATSIFACCareType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive Service</defaultConnectorLabel>
        <rules>
            <name>NATSIFAC_Operational_Services</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_NATSIFAC_Operational_Services</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>NATSIFAC Operational Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Status</name>
        <label>Check Service Status</label>
        <locationX>1386</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_Active_Account_On_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Operational</defaultConnectorLabel>
        <rules>
            <name>Operational</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operational</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAccount_On_Service</targetReference>
            </connector>
            <label>Operational</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_On_Service</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAccount_On_Service</name>
        <label>Check Account On Service</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_CHSP_NATSIFAC_Care_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Account_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHSP_or_NATSIFAC</name>
        <label>CHSP or NATSIFAC</label>
        <locationX>1623</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>CHSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHSP_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CHSP_Operational_Services</targetReference>
            </connector>
            <label>CHSP</label>
        </rules>
        <rules>
            <name>NATSIFAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATSIFAC_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NATSIFAC_Operational_Services</targetReference>
            </connector>
            <label>NATSIFAC</label>
        </rules>
    </decisions>
    <description>Updates Care type status based on Service Status</description>
    <environments>Default</environments>
    <interviewLabel>Service : Update Care Type Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service : Update Care Type Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CHSP_NATSIFAC_Care_Type</name>
        <label>Get CHSP/NATSIFAC Care Type</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_any_Care_Types_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CHSP_Operational_Services</name>
        <label>Get CHSP Operational Services</label>
        <locationX>1018</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_any_Operational_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operational</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NATSIFAC_Care_Type</name>
        <label>Get NATSIFAC Care Type</label>
        <locationX>3152</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_NATSIFACCareTypes_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NATSIFAC_Operational_Service</name>
        <label>Get NATSIFAC Operational Service</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_NATSIFAC_Operational_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operational</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NATSIFAC_Operational_Services</name>
        <label>Get NATSIFAC Operational Services</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NATSIFAC_Operational_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operational</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCHSPCareType</name>
        <label>Get CHSP Care Type</label>
        <locationX>1216</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CHSP_Care_Types_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNATSIFACCareType</name>
        <label>Get NATSIFAC Care Type</label>
        <locationX>1920</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_NATSIFAC_Care_Types_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Care_Type_Status</name>
        <label>Update Care Type Status</label>
        <locationX>116</locationX>
        <locationY>935</locationY>
        <inputReference>Get_CHSP_NATSIFAC_Care_Type</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NATSIFAC_Care_Type</name>
        <label>Update NATSIFAC Care Type</label>
        <locationX>3020</locationX>
        <locationY>1175</locationY>
        <inputReference>Get_NATSIFAC_Care_Type</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCareTypeStatus</name>
        <label>Update Care Type Status</label>
        <locationX>1084</locationX>
        <locationY>1295</locationY>
        <inputReference>GetCHSPCareType</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNATSIFACCareType</name>
        <label>Update NATSIFAC Care Type</label>
        <locationX>1788</locationX>
        <locationY>1295</locationY>
        <inputReference>GetNATSIFACCareType</inputReference>
    </recordUpdates>
    <start>
        <locationX>1260</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Service_Status</targetReference>
        </connector>
        <filterFormula>( ( ISNEW() || ISCHANGED({!$Record.Status__c}) || ISCHANGED({!$Record.AccountId}) )  &amp;&amp; {!$Record.RecordType.DeveloperName} == &apos;CHSP_Service&apos; &amp;&amp; (ISPICKVAL({!$Record.Status__c}, &apos;Operational&apos;) || ISPICKVAL({!$Record.Status__c}, &apos;Inactive&apos;)))||
((ISCHANGED({!$Record.Status__c}) || NOT(ISBLANK(TEXT({!$Record.Status__c})))) &amp;&amp; {!$Record.RecordType.DeveloperName} == &apos;NATSIFAC_Service&apos; &amp;&amp; NOT(ISBLANK(TEXT({!$Record.Status__c}))) &amp;&amp; (ISPICKVAL({!$Record.Status__c}, &apos;Operational&apos;) || ISPICKVAL({!$Record.Status__c}, &apos;Inactive&apos;) || ISPICKVAL({!$Record.Status__c}, &apos;Non-Operational&apos;)))</filterFormula>
        <object>BusinessLicense</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
