force-app/main/default/flows/Trading_Name_Set_Inactive_Daily_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>If_recordTypeId_empty</name>
        <label>If recordTypeId empty</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Update_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recordtype Found</defaultConnectorLabel>
        <rules>
            <name>Recordtype_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inavtive_RecordtypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Recordtype Not Found</label>
        </rules>
    </decisions>
    <description>Scheduled to run daily to auto deactivate the expired trading names</description>
    <formulas>
        <name>Status</name>
        <dataType>String</dataType>
        <expression>if(TODAY() &gt; {!$Record.Date_Effective_To__c},&apos;Inactive&apos;,&apos;Active&apos;)</expression>
    </formulas>
    <interviewLabel>Trading Name - Set Inactive Daily Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trading Name - Set Inactive Daily Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inavtive_RecordtypeId</name>
        <label>Get Inavtive RecordtypeId</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_recordTypeId_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trading_Name__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inactive</name>
        <label>Update Inactive</label>
        <locationX>308</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Inavtive_RecordtypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inavtive_RecordtypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Need_To_Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Trading_Name__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-03</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InactiveRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Today&apos;s date</description>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
