force-app/main/default/flows/Update_Status_Flag_on_Accreditation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_to_No</name>
        <label>Set to No</label>
        <locationX>528</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_Accreditation_Records.Active_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accreditation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Yes</name>
        <label>Set to Yes</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_Accreditation_Records.Active_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accreditation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Accreditation_Record</name>
        <label>Update Accreditation Record</label>
        <locationX>528</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>ToUpdateAccreditationRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Accreditation_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Accreditation_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Start_Date_Check</name>
        <label>Start Date Check</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Accreditation_Records.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Yes</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Accreditation_Records.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yesterday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_No</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>Update Status Flag on Accreditation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status Flag on Accreditation</label>
    <loops>
        <name>Iterate_over_Accreditation_Records</name>
        <label>Iterate over Accreditation Records</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Accreditation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Date_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accreditation_Record_Type</name>
        <label>Get Accreditation Record Type</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accreditation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accreditation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accreditation_Records</name>
        <label>Get Accreditation Records</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Accreditation_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accreditation_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Accreditation_Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <inputReference>ToUpdateAccreditationRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accreditation_Record_Type</targetReference>
        </connector>
        <object>Accreditation_Certification__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-08</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accreditationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
    <variables>
        <description>To Update Accreditation Records</description>
        <name>ToUpdateAccreditationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation_Certification__c</objectType>
    </variables>
</Flow>
