force-app/main/default/flows/Update_Administrator_Liquidator_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Account_To_Id</name>
        <label>Assign Account To Id</label>
        <locationX>270</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Account_To_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_To_Ids.Account_To_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_To_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_To_Ids</name>
        <label>Assign Account To Ids</label>
        <locationX>1414</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Found_Account_To_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Account_Ids.Account_To_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>270</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>Current_Account_for_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accounts_for_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetAdministrator_Liquidator_Record_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account2</name>
        <label>Set Account2</label>
        <locationX>1414</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>Current_Account_for_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACORole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AdministratorLiquidator_RecordExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Accounts_To_Be_Updated</name>
        <label>Set Accounts To Be Updated</label>
        <locationX>270</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>AccountsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Account_for_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accounts_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountsToBeUpdated</name>
        <label>Set Accounts To Be Updated</label>
        <locationX>1414</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>AccountsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Account_for_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACORole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Administrator_Liquidator_Record_Exists</name>
        <label>Set Administrator Liquidator Record Exists</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_ACO.Administrator_Liquidator_Record_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ACO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Administrator_Liquidator_RecordExists</name>
        <label>Set Administrator Liquidator Record Exists</label>
        <locationX>1326</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>GetACO.Administrator_Liquidator_Record_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateACO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AdministratorLiquidator_RecordExists</name>
        <label>Set Administrator Liquidator Record Exists</label>
        <locationX>1414</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>Current_Account_for_Update.Administrator_Liquidator_Record_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AccountsToBeUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Account_List</name>
        <label>Set Final Account List</label>
        <locationX>138</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountToBeUpdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Previous_Account_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_AccountList</name>
        <label>Set Final Account List</label>
        <locationX>1282</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountToBe_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Previous_AccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Account_Id</name>
        <label>Set Previous Account Id</label>
        <locationX>138</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>previousAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToBeUpdated.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountToBeUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_AccountId</name>
        <label>Set Previous Account Id</label>
        <locationX>1282</locationX>
        <locationY>3059</locationY>
        <assignmentItems>
            <assignToReference>previousAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToBe_Updated.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountToBe_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAdministrator_Liquidator_Record_Exists</name>
        <label>Set Administrator Liquidator Record Exists</label>
        <locationX>270</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>Current_Account_for_Update.Administrator_Liquidator_Record_Exists__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Accounts_To_Be_Updated</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_AccountsToBeUpdated</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort AccountsToBeUpdated</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>AccountsToBeUpdated</collectionReference>
        <connector>
            <targetReference>AccountToBeUpdated</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Id</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>SortAccountsToBeUpdated</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort AccountsToBeUpdated</label>
        <locationX>1194</locationX>
        <locationY>2627</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>AccountsToBeUpdated</collectionReference>
        <connector>
            <targetReference>AccountToBe_Updated</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Id</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_ACO_Role_Record_Type</name>
        <label>Check ACO Role Record Type</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACO_to_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ACO_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ACO_Role.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACO_to_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ACO</targetReference>
            </connector>
            <label>ACO to Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ACORole_Record_Type</name>
        <label>Check ACO Role Record Type</label>
        <locationX>1524</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACOtoAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetACORole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetACORole.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACO_to_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetACO</targetReference>
            </connector>
            <label>ACO to Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Duplicate_Account</name>
        <label>Check If Duplicate Account</label>
        <locationX>270</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>AccountToBeUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate</defaultConnectorLabel>
        <rules>
            <name>Not_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountToBeUpdated.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Final_Account_List</targetReference>
            </connector>
            <label>Not Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_DuplicateAccount</name>
        <label>Check If Duplicate Account</label>
        <locationX>1414</locationX>
        <locationY>2843</locationY>
        <defaultConnector>
            <targetReference>AccountToBe_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate</defaultConnectorLabel>
        <rules>
            <name>Not_Duplicate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountToBe_Updated.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>previousAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Final_AccountList</targetReference>
            </connector>
            <label>Not Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_List_Is_Null</name>
        <label>Check If List Is Null</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountsToBeUpdated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_AccountsToBeUpdated</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_List_IsNull</name>
        <label>Check If List Is Null</label>
        <locationX>1326</locationX>
        <locationY>2519</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>List_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountsToBeUpdated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SortAccountsToBeUpdated</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_AP_or_TPO</name>
        <label>Check AP or TPO</label>
        <locationX>402</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Get_Account_To_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AP_or_TPO</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND 6) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_To_Ids.Account_To_Id__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved_Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_To_Ids.Account_To_Id__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commonwealth_Home_Support_Programme</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_To_Ids.Account_To_Id__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National_Aboriginal_and_Torres_Strait_Islander_Flexible_Aged_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_To_Ids.Account_To_Id__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Management_Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_To_Ids.Account_To_Id__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Delivery_Organisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_To_Ids.Account_To_Id__r.Is_Approved_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_To_Id</targetReference>
            </connector>
            <label>Is AP or TPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckActiveAdminLiquidator_0</name>
        <label>CheckActiveAdminLiquidator</label>
        <locationX>1755</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoActiveAdminLiquidator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedAdminLiquidator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetACORole</targetReference>
            </connector>
            <label>NoActiveAdminLiquidator</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEndDate</name>
        <label>CheckEndDate</label>
        <locationX>1067</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetRelatedAdminLiquidator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End Date Before Today</defaultConnectorLabel>
        <rules>
            <name>EndDateAfterToday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ACO_Role</targetReference>
            </connector>
            <label>End Date After Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Admin_Liquidator_Exist</name>
        <label>Checking Admin Liquidator Exist</label>
        <locationX>1546</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Find_Account_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Account_Ids.Account_To_Id__r.Administrator_Liquidator_Record_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_To_Ids</targetReference>
            </connector>
            <label>IsExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsAdmin</name>
        <label>checkIsAdmin</label>
        <locationX>1658</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrator_Liquidator_CR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckEndDate</targetReference>
            </connector>
            <label>isAdmin</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Administrator/Liquidator Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Administrator/Liquidator Flag</label>
    <loops>
        <name>Accounts_for_Update</name>
        <label>Accounts for Update</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_List_Is_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AccountToBe_Updated</name>
        <label>AccountToBeUpdated</label>
        <locationX>1194</locationX>
        <locationY>2735</locationY>
        <collectionReference>AccountsToBeUpdated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_DuplicateAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_APorTPO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AccountToBeUpdated</name>
        <label>AccountToBeUpdated</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <collectionReference>AccountsToBeUpdated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Duplicate_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_AP_or_TPO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ACORole</name>
        <label>ACO Role</label>
        <locationX>1326</locationX>
        <locationY>2003</locationY>
        <collectionReference>Get_Account_Tos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_List_IsNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Account_Ids</name>
        <label>Find Account Ids</label>
        <locationX>1326</locationX>
        <locationY>1403</locationY>
        <collectionReference>GetACORoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_Admin_Liquidator_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Tos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Account_To_Ids</name>
        <label>Get Account To Ids</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <collectionReference>Get_ACO_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Is_AP_or_TPO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Tos</name>
        <label>Get Account Tos</label>
        <locationX>1326</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACORole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Found_Account_To_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_for_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Account_To_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACO</name>
        <label>Get ACO</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Administrator_Liquidator_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO_Role.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACO_Role</name>
        <label>Get ACO Role</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ACO_Role_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACO_Roles</name>
        <label>Get ACO Roles</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_To_Ids</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetACO</name>
        <label>Get ACO</label>
        <locationX>1326</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Administrator_Liquidator_RecordExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetACORole.Account_From_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetACORole</name>
        <label>Get ACO Role</label>
        <locationX>1524</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ACORole_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetACORoles</name>
        <label>Get ACO Roles</label>
        <locationX>1326</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Account_Ids</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetACO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedAdminLiquidator</name>
        <label>GetRelatedAdminLiquidator</label>
        <locationX>1755</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckActiveAdminLiquidator_0</targetReference>
        </connector>
        <filterLogic>1  AND 3 AND( 4 OR 2)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACO</name>
        <label>Update ACO</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_ACO_Roles</targetReference>
        </connector>
        <inputReference>Get_ACO</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AP_or_TPO</name>
        <label>Update AP or TPO</label>
        <locationX>50</locationX>
        <locationY>3119</locationY>
        <inputReference>FinalAccountsToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_APorTPO</name>
        <label>Update AP or TPO</label>
        <locationX>1194</locationX>
        <locationY>3335</locationY>
        <inputReference>FinalAccountsToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateACO</name>
        <label>Update ACO</label>
        <locationX>1326</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>GetACORoles</targetReference>
        </connector>
        <inputReference>GetACO</inputReference>
    </recordUpdates>
    <start>
        <locationX>1532</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIsAdmin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_To_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Current_Account_for_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FinalAccountsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Found_Account_To_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Administrator_Liquidator_CR</stringValue>
        </value>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
