force-app/main/default/flows/UpdateCombineServiceValue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddServiceUpdateList</name>
        <label>AddServiceUpdateList</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ServiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentservice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopServiceEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVariable</name>
        <label>SetVariable</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>currentservice.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopServiceEvents.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentservice.Combined_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddServiceUpdateList</targetReference>
        </connector>
    </assignments>
    <description>Update the value of the Combined Service to true for Discontinuing Services</description>
    <environments>Default</environments>
    <interviewLabel>UpdateCombineServiceValue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCombineServiceValue</label>
    <loops>
        <name>LoopServiceEvents</name>
        <label>LoopServiceEvents</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GetServiceEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetServiceEvents</name>
        <label>GetServiceEvents</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopServiceEvents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinuing Service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateList</name>
        <label>UpdateList</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>ServiceList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetServiceEvents</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Combine</stringValue>
            </value>
        </filters>
        <filters>
            <field>Activated__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentservice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicense</objectType>
    </variables>
    <variables>
        <name>ServiceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicense</objectType>
    </variables>
</Flow>
