force-app/main/default/flows/Update_Account_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CheckUpdateNew</name>
        <label>CheckUpdateNew</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>UpdateState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateNewAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Business Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNew</targetReference>
            </connector>
            <label>UpdateNewAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkUpdatePreviousAccount</name>
        <label>checkUpdatePreviousAccount</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>CheckUpdateNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdatePreviousAccount</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LocationType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Registered Business Address</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Business Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePrevious</targetReference>
            </connector>
            <label>UpdatePreviousAccount</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account State</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateNew</name>
        <label>UpdateNew</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>UpdateState</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_State__c</field>
            <value>
                <elementReference>$Record.Address__r.State</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrevious</name>
        <label>UpdatePrevious</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CheckUpdateNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider_State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider_State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateState</name>
        <label>UpdateState</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Address__r.State</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Address__r.State</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkUpdatePreviousAccount</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
