force-app/main/default/flows/Update_Incorporation_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Ids</name>
        <label>Add Ids</label>
        <locationX>556</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>ChildAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccountRelationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_0</name>
        <label>Assign Current</label>
        <locationX>556</locationX>
        <locationY>1307</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAccountRelationships.Account_To_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Incorporation_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Incorporation_ID_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incorporation_ID_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Incorporation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incorporation_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.ARBN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ARBN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Incorporation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incorporation_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Incorporation_Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incorporation_Status_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Incorporated_Under__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incorporated_Under__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Incorporation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incorporation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AP_Record_Count</name>
        <label>Update AP Record Count</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ProviderRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecordCount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Incorporation_Details</name>
        <label>Check Incorporation Details</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incorporation_Details_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incorporation_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incorporation_Status_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Incorportaion_History_Records</targetReference>
            </connector>
            <label>Incorporation Details Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckACO</name>
        <label>CheckACO</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsACO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aged_Care_Organisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountRelationships</targetReference>
            </connector>
            <label>IsACO</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProvider</name>
        <label>CheckProvider</label>
        <locationX>556</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccountRelationships.Account_To_Id__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incorporation_ID_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Incorporated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AP_Record_Count</targetReference>
            </connector>
            <label>IsAP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordCount</name>
        <label>CheckRecordCount</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsMoreThanOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProviderRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Child_Record</targetReference>
            </connector>
            <label>IsMoreThanOne</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Incorporation Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Incorporation Details</label>
    <loops>
        <name>LoopAccountRelationships</name>
        <label>LoopAccountRelationships</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>GetAccountRelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckProvider</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Incorporation_Status_History_Record</name>
        <label>Create Incorporation Status History Record</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Status_Date__c</field>
            <value>
                <elementReference>$Record__Prior.Incorporation_Status_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Status__c</field>
            <value>
                <elementReference>$Record__Prior.Incorporation_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Incorportaion_History_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GPMS_Account_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Incorportaion_History_Records</name>
        <label>Get Incorporation History Records</label>
        <locationX>50</locationX>
        <locationY>1883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Incorporation_Status_History_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPMS_Account_History__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incorporation_Status_History</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRelationships</name>
        <label>GetAccountRelationships</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAccountRelationships</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 )</filterLogic>
        <filters>
            <field>Account_From_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Record</name>
        <label>Update Child Record</label>
        <locationX>182</locationX>
        <locationY>1643</locationY>
        <connector>
            <targetReference>Check_Incorporation_Details</targetReference>
        </connector>
        <inputReference>ChildAccounts</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckACO</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Incorporation_ID_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incorporation_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ARBN__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incorporation_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incorporation_Status_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incorporated_Under__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incorporation_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ProviderRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
