force-app/main/default/flows/Update_Account_Total_Owned_Percentage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddCRPercentage</name>
        <label>AddCRPercentage</label>
        <locationX>264</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>TotalPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCROwners.Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCROwners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTotalPercentage</name>
        <label>AddTotalPercentage</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>TotalPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllOwners.Percentage_Owned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasDuplicateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckDuplicateContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllOwners</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CheckDuplicateContact</name>
        <dataType>Boolean</dataType>
        <expression>{!HasDuplicateContact} || {!$Record.Contact__c} = {!LoopAllOwners.Contact__c}</expression>
    </formulas>
    <formulas>
        <name>Relationship</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Percentage_Owned__c}=100,&quot;Fully Owned&quot;,&quot;Partially Owned&quot;)</expression>
    </formulas>
    <interviewLabel>Update Account Total Owned Percentage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Total Owned Percentage</label>
    <loops>
        <name>LoopAllOwners</name>
        <label>LoopAllOwners</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetAllCROwners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTotalPercentage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllAROwners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCROwners</name>
        <label>LoopCROwners</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <collectionReference>GetAllAROwners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddCRPercentage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCRPercentage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllAROwners</name>
        <label>GetAllAROwners</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCROwners</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4)</filterLogic>
        <filters>
            <field>Account_To_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Percentage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllCROwners</name>
        <label>GetAllCROwners</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllOwners</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCRPercentage</name>
        <label>UpdateCRPercentage</label>
        <locationX>176</locationX>
        <locationY>1223</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Relationship__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Total_Percentage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>TotalPercentage</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Duplicate_Contact_Owner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>HasDuplicateContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Total_Percentage__c</field>
            <value>
                <elementReference>TotalPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Duplicate_Contact_Owner__c</field>
            <value>
                <elementReference>HasDuplicateContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllCROwners</targetReference>
        </connector>
        <filterFormula>(ISNEW() || ISCHANGED({!$Record.Percentage_Owned__c})) &amp;&amp; {!$Record.RecordType.DeveloperName} = &quot;Owner_CR&quot; &amp;&amp; (ISNULL({!$Record.End_Date__c}) || {!$Record.End_Date__c} &gt;= TODAY())</filterFormula>
        <object>Contact_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HasDuplicateContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TotalPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Percentage_Owned__c</elementReference>
        </value>
    </variables>
</Flow>
