force-app/domains/gpms/app-management/flows/Application_Update_Care_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddAllExistingCareTypes</name>
        <label>AddAllExistingCareTypes</label>
        <locationX>644</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AllExistingCareTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllExistingCareTypes.Care_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckActive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignActive</name>
        <label>AssignActive</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LoopAllExistingCareTypes.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckUpdateCareType_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAllAddedCareTypes</name>
        <label>AssignAllAddedCareTypes</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>AllAddedCareTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCareTypeFormat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>NeedAddMoreCareType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAllCareTypeRecordCollection_0_0</name>
        <label>AssignAllCareTypeRecordCollection</label>
        <locationX>138</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>AllCareTypeRecordCollectionCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCareType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAllAddedCareTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInActive</name>
        <label>AssignInActive</label>
        <locationX>644</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LoopAllExistingCareTypes.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckUpdateCareType_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewCareType_0</name>
        <label>AssignNewCareType</label>
        <locationX>138</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>NewCareType.ApplicationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCareType.Care_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCareType.Current_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Decision Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCareType.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCareType.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAllCareTypeRecordCollection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckUpdateCareType_0</name>
        <label>CheckUpdateCareType</label>
        <locationX>644</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AllCareTypeRecordCollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllExistingCareTypes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllExistingCareTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckUpdateCareType_0_0</name>
        <label>CheckUpdateCareType</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AllCareTypeRecordCollectionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllExistingCareTypes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllExistingCareTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckActive</name>
        <label>CheckActive</label>
        <locationX>644</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>LoopAllExistingCareTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NeedUpdateToActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CareTypes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopAllExistingCareTypes.Care_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopAllExistingCareTypes.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignActive</targetReference>
            </connector>
            <label>NeedUpdateToActive</label>
        </rules>
        <rules>
            <name>NeedUpdateToInActive</name>
            <conditionLogic>(Not 1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CareTypes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopAllExistingCareTypes.Care_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopAllExistingCareTypes.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignInActive</targetReference>
            </connector>
            <label>NeedUpdateToInActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHasCreateRecords</name>
        <label>CheckHasCreateRecords</label>
        <locationX>534</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>CheckHasUpdateRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCareTypeRecordCollectionCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCareType</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHasUpdateRecords</name>
        <label>CheckHasUpdateRecords</label>
        <locationX>534</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCareTypeRecordCollectionUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCareType</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNeedToCreate</name>
        <label>CheckNeedToCreate</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>AssignNewCareType_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoNeedToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllExistingCareTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CurrentCareType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAllAddedCareTypes</targetReference>
            </connector>
            <label>NoNeedToCreate</label>
        </rules>
    </decisions>
    <decisions>
        <name>NeedAddMoreCareType</name>
        <label>NeedAddMoreCareType</label>
        <locationX>292</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>CheckHasCreateRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NeedAddMore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllAddedCareTypes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AllSelectedCareTypes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckNeedToCreate</targetReference>
            </connector>
            <label>NeedAddMore</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AllSelectedCareTypes</name>
        <dataType>String</dataType>
        <expression>{!AppCareTypes}</expression>
    </formulas>
    <formulas>
        <name>CurrentCareType</name>
        <dataType>String</dataType>
        <expression>if(CONTAINS(RIGHT({!AllSelectedCareTypes},LEN({!AllSelectedCareTypes})-if(LEN({!AllAddedCareTypes})=0,0,LEN({!AllAddedCareTypes})+1)),&quot;;&quot;),LEFT(RIGHT({!AllSelectedCareTypes},LEN({!AllSelectedCareTypes})-if(LEN({!AllAddedCareTypes})=0,0,LEN({!AllAddedCareTypes})+1)),FIND(&quot;;&quot;,RIGHT({!AllSelectedCareTypes},LEN({!AllSelectedCareTypes})-if(LEN({!AllAddedCareTypes})=0,0,LEN({!AllAddedCareTypes})+1)))-1),RIGHT({!AllSelectedCareTypes},LEN({!AllSelectedCareTypes})-if(LEN({!AllAddedCareTypes})=0,0,LEN({!AllAddedCareTypes})+1)))</expression>
    </formulas>
    <formulas>
        <name>CurrentCareTypeFormat</name>
        <dataType>String</dataType>
        <expression>if(IsBlank({!AllAddedCareTypes}),{!CurrentCareType},&quot;;&quot;+{!CurrentCareType})</expression>
    </formulas>
    <interviewLabel>Application: Update Care Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application: Update Care Type</label>
    <loops>
        <name>LoopAllExistingCareTypes</name>
        <label>LoopAllExistingCareTypes</label>
        <locationX>292</locationX>
        <locationY>455</locationY>
        <collectionReference>GetAllRelatedCareTypeRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAllExistingCareTypes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCareType</name>
        <label>CreateCareType</label>
        <locationX>402</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>CheckHasUpdateRecords</targetReference>
        </connector>
        <inputReference>AllCareTypeRecordCollectionCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAllRelatedCareTypeRecords</name>
        <label>GetAllRelatedCareTypeRecords</label>
        <locationX>292</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllExistingCareTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>292</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NeedAddMoreCareType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved_Provider_CT</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Type__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCareType</name>
        <label>UpdateCareType</label>
        <locationX>402</locationX>
        <locationY>1943</locationY>
        <inputReference>AllCareTypeRecordCollectionUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllRelatedCareTypeRecords</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CareTypes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAddedCareTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllCareTypeRecordCollectionCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Care_Type__c</objectType>
    </variables>
    <variables>
        <name>AllCareTypeRecordCollectionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Care_Type__c</objectType>
    </variables>
    <variables>
        <name>AllExistingCareTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppCareTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CareTypes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewCareType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Care_Type__c</objectType>
    </variables>
</Flow>
