force-app/domains/gpms/app-management/flows/Application_Check_Same_Assessor_or_Reviewer_or_Delegate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Application_Status</name>
        <label>Check Application Status</label>
        <locationX>1249</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsForAssessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Formal Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetReconsiderations</targetReference>
            </connector>
            <label>IsForAssessment</label>
        </rules>
        <rules>
            <name>IsForReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Quality Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reconsiderations</targetReference>
            </connector>
            <label>IsForReview</label>
        </rules>
        <rules>
            <name>IsRecommendationtoDelegate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delegate&apos;s Decision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reconsideration_Records</targetReference>
            </connector>
            <label>IsRecommendationtoDelegate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Reconsideration_Exists</name>
        <label>Check If Reconsideration Exists</label>
        <locationX>336</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReconsiderationExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReconsiderations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecommendationLogs</targetReference>
            </connector>
            <label>ReconsiderationExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ReconsiderationExists</name>
        <label>Check If Reconsideration Exists</label>
        <locationX>1040</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reconsideration_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reconsiderations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recommendation_Logs</targetReference>
            </connector>
            <label>ReconsiderationExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IfReconsideration_Exists</name>
        <label>Check If Reconsideration Exists</label>
        <locationX>1744</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reconsideration_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reconsideration_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecommendationLogs</targetReference>
            </connector>
            <label>ReconsiderationExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Update_Application_Record</name>
        <label>Copy 1 of Copy 1 of Update Application Record</label>
        <locationX>1590</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Delegate_Recommend_Log_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecommendationLogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Delegate</targetReference>
            </connector>
            <label>Check if Delegate Recommend Log is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Update_Application_Record</name>
        <label>Copy 1 of Update Application Record</label>
        <locationX>886</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Reviewer_Recommend_Log_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecommendationLogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Reviewer</targetReference>
            </connector>
            <label>Check if Reviewer Recommend Log is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Application_Record_1</name>
        <label>Update Application Record</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Recommend_Log_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecommendationLogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Assessor</targetReference>
            </connector>
            <label>Check if Recommend Log is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application: Check Same Assessor or Reviewer or Delegate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application: Check Same Assessor or Reviewer or Delegate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Recommendation_Logs</name>
        <label>Get Recommendation Logs</label>
        <locationX>886</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Application_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecommendationLogs</name>
        <label>Get Recommendation Logs</label>
        <locationX>1590</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Application_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delegate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reconsideration_Records</name>
        <label>Get Reconsideration Records</label>
        <locationX>1744</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_IfReconsideration_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reconsideration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reconsiderations</name>
        <label>Get Reconsiderations</label>
        <locationX>1040</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ReconsiderationExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reconsideration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecommendationLogs</name>
        <label>GetRecommendationLogs</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Application_Record_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assessor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recommendation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReconsiderations</name>
        <label>GetReconsiderations</label>
        <locationX>336</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Reconsideration_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reconsideration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Assessor</name>
        <label>Check Assessor</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>SameAssessor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Delegate</name>
        <label>Check Delegate</label>
        <locationX>1458</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>SameDelegate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Reviewer</name>
        <label>Check Reviewer</label>
        <locationX>754</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>SameReviewer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1123</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Application_Status</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.OwnerId})</filterFormula>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AppRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
</Flow>
