force-app/domains/gpms/app-management/flows/Application_Update_current_CareType_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>This will check the New application status on Application object.</description>
        <name>StatusCheck</name>
        <label>StatusCheck</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCareTypeStatus</targetReference>
            </connector>
            <label>StatusUpdated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application Update current CareType Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Update current CareType Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCareTypeStatus</name>
        <label>UpdateCareTypeStatus</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Obsolete</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Approval_Status__c</field>
            <value>
                <stringValue>Obsolete</stringValue>
            </value>
        </inputAssignments>
        <object>Care_Type__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>careTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Care_Type__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Care_Type__c</objectType>
    </variables>
</Flow>
