force-app/domains/gpms/app-management/flows/Application_Check_Duplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_All_Active_Application_Record</name>
        <label>Add All Active Application Record</label>
        <locationX>270</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>ApplicationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Care_Types</name>
        <label>Add Care Types</label>
        <locationX>270</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>AddCareTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Care_Type.Care_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Care_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Active_Application_Contains_Current_Care_Type</name>
        <label>Check If Active Application Contains Current Care Type</label>
        <locationX>402</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Care_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Contains</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CareTypes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Care_Type.Care_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Care_Types</targetReference>
            </connector>
            <label>Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_AddCareTypes_Is_Not_null</name>
        <label>Check If AddCareTypes Is Not null</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddCareTypes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duplicate_App</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Not Has</defaultConnectorLabel>
        <rules>
            <name>Has</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Care_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dup_Care_type_on</targetReference>
            </connector>
            <label>Has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_App</name>
        <label>Has Active App?</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Other_Care_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Have Active app</defaultConnectorLabel>
        <rules>
            <name>Has_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOtherApplication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Loop</targetReference>
            </connector>
            <label>Has Active App</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application: Check Duplicate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application: Check Duplicate</label>
    <loops>
        <name>Care_Type</name>
        <label>Care Type</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Care_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Active_Application_Contains_Current_Care_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_AddCareTypes_Is_Not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Loop</name>
        <label>Iterate Over Loop</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <collectionReference>GetOtherApplication</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_All_Active_Application_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Care_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Care_Type</name>
        <label>Get Care Type</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationId__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ApplicationList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Care_Type</name>
        <label>Get Other Care Type</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND (1 OR 4) AND ((5 OR 6 OR 7) OR 8)</filterLogic>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApplicationId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Taken to be Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Care_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flexible</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApplicationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Not Required - Taken To Be Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Care_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOtherApplication</name>
        <label>GetOtherApplication</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Active_App</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For Formal Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Formal Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For Formal Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Submitted - Fee payment pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Submitted - RFI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment RFI - Response Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delegate&apos;s Decision</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application submission receipt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessLicenseApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Dup_Care_type_on</name>
        <label>Set Dup Care type on</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>DuplicateCareType__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Duplicate_App</name>
        <label>Set Duplicate App</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DuplicateActiveApplicationExist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DuplicateActiveApplicationExist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOtherApplication</targetReference>
        </connector>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddCareTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessLicenseApplication</objectType>
    </variables>
    <variables>
        <name>CurrentCareTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusupdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
